<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SGPNVK9S2D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SGPNVK9S2D');
</script>
    <meta name="viewport" content="width=device-width, initial-scale=1  " />
    <meta http-equiv="content-type" content="text/html; charset=utf-8 " />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" href="/images/logos/favicon.png" sizes="16x16" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>Boardroom | ESummit '21 | E-Cell IITM</title>
    <!-- Stylesheets & Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet"><!-- LOAD JQUERY LIBRARY -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
    <!-- LOADING FONTS AND ICONS -->
    <link rel="stylesheet" type="text/css"
        href="/plugins/slider-revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="/plugins/slider-revolution/fonts/font-awesome/css/font-awesome.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="/plugins/slider-revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="/plugins/slider-revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/plugins/slider-revolution/css/navigation.css">

    <link rel="stylesheet" type="text/css" href="/css/boardroom/custom.css">


    <!-- CUSTOM CSS -->
    <style type="text/css">
        #welcome_wrapper .tp-loader.spinner2 {
            background-color: #006dd2 !important;
        }
    </style>
    <style type="text/css">
        video::-webkit-media-controls-start-playback-button {
            display: none !important
        }

        .tc-gradient i:before {
            background: -webkit-linear-gradient(left, #5e05b1 0%, #09ceff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent
        }

        .tc-btnshadow {
            -webkit-box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.2) !important;
            -moz-box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.2) !important;
            box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.2) !important
        }
    </style>
    <style type="text/css">
        #welcome .uranus.tparrows {
            width: 50px;
            height: 50px;
            background: rgba(255, 255, 255, 0)
        }

        #welcome .uranus.tparrows:before {
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 40px;
            transition: all 0.3s;
            -webkit-transition: all 0.3s
        }

        #welcome .uranus.tparrows:hover:before {
            opacity: 0.75
        }
    </style>
    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="/plugins/slider-revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript"
        src="/plugins/slider-revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript"
        src="/plugins/slider-revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript"
        src="/plugins/slider-revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript"
        src="/plugins/slider-revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript"
        src="/plugins/slider-revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript"
        src="/plugins/slider-revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript"
        src="/plugins/slider-revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript"
        src="/plugins/slider-revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript"
        src="/plugins/slider-revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="/js/boardroom/boardroom1.js">

    </script>
    <script type="text/javascript" src="/js/boardroom/boardroom4.js">

    </script>
</head>
<style id="rs-plugin-settings-inline-css" type="text/css">
    #rs-demo-id {}

    /* GIF OVERLAY FROM: http://yesphotoshop.tumblr.com/post/30752062466/how-to-make-an-old-movie-film-grain-on-gifs */
    .eightygradient {
        background: -webkit-linear-gradient(top, rgb(115, 6, 189) 0%, rgb(151, 44, 213) 0%, rgb(161, 34, 211) 0%, rgb(168, 34, 202) 0%, rgb(122, 18, 170) 0%);
        -webkit-background-clip: text;
        -webkit-text-stroke: 4px transparent;
        letter-spacing: -4px;
        text-shadow: 0px 0px 20px rgb(143, 17, 201);
        animation-name: blink2;
        animation-duration: 150ms;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .eightybar {
        border-width: 2px;
        border-style: solid;
        border-color: #ab1be4;
        box-shadow: 0px 0px 20px 0px rgb(183, 23, 231);
        animation-name: blink1;
        animation-duration: 100ms;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes blink1 {
        from {
            box-shadow: 0px 0px 20px 0px #7341B4
        }

        to {
            box-shadow: 0px 0px 20px 0px #9058da;
        }
    }

    @keyframes blink2 {
        from {
            text-shadow: 0px 0px 20px #7341B4;
        }

        to {
            text-shadow: 0px 0px 20px #9959ec;
        }
    }
</style>

<body>
    <!-- Body Inner -->
    <div class="body-inner" style="background-color: #181818;">
        <!-- Topbar -->
        <div id="topbar" class="topbar-fullwidth dark p-t-10" style="background-color: #181818;">
            <div class="container">
                <div class="row">
                    <% if(isLoggedIn) { %>
                        <div class="col-12" style="display: flex; align-items: flex-end; justify-content: flex-end">
                            <a class="btn btn-sm m-l-0 shadow" href="/go-portal">
                                Go To Portal
                            </a>
                        </div>
                        <% } else { %>
                            <div class="col-12" style="display: flex; align-items: flex-end; justify-content: flex-end">
                                

                                <button class="btn btn-sm shadow" data-target="#login-modal"
                                    data-toggle="modal">Login to E-Summit</button>
                            </div>
                            <% } %>
                </div>
            </div>
        </div>
        <!-- end: Topbar -->
        <!-- Header -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true"
            class="header dark">


            <div class="header-inner">

                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/">
                            <img class="logo-default" src="/images/logos/esummit-white.png" alt="E-Cell-Logo">
                            <img class="logo-fixed" src="/images/logos/esummit_clean.png">
                        </a>
                    </div>
                    <!--End: Logo-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    <div id="mainMenu">
                        <div class="col-md-6 container">
                            <nav>
                                <ul>
                                    <li><a href="#about" class="scroll-to">ABOUT</a></li>
                                    
                                    
                                    <li><a href="#timeline" class="scroll-to">TIMELINE</a></li>
                                    <li><a href="#rounds" class="scroll-to">ROUNDS</a></li>
                                    <!-- <li><a href="#faq" class="scroll-to">FAQ</a></li> -->
                                    <!-- <li><a href="#testimonials" class="scroll-to">TESTIMONIALS</a></li> -->
                                    <!-- <li><a href="#past" class="scroll-to">PAST TEAMS</a></li> -->
                                    <li><a href="#criteria" class="scroll-to">JUDGING CRITERIA</a></li>
                                    <li><a href="#incentives" class="scroll-to">INCENTIVES</a></li>
                                    <li><a href="#contact" class="scroll-to">CONTACT</a></li>
                                    <li><a href="/sponsors" class="scroll-to">SPONSORS</a></li>
                                    <li class="dropdown">
                                        <a href="" style="color: #7341B4 !important;">
                                            Other Events
                                            <!-- <i class="text-right fa fa-angle-down"></i> -->
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-menu-title m-l-5 text-light">Youth's Conclave</li>

                                            <li><a href="/event/markathon">Markathon</a></li>
                                            <li><a href="/event/elympics">Elympics</a></li>
                                            <li><a href="/event/e-awards">E-Awards</a></li>
                                            <li><a href="/event/boardroom">Boardroom</a></li>
                                            <li><a href="/event/stocks-are-high">Stocks are high</a></li>
                                            <li><a href="/event/business-simulation-game">Business Simulation
                                                    Game</a></li>
                                            <li><a href="/event/e-awards">E-Awards</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="" style="color: #7341B4 !important;">
                                            Other Conclaves
                                            <!-- <i class="text-right fa fa-angle-down"></i> -->
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-submenu"><a href="/innovators-conclave">Innovator's Conclave</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="/event/bootcamp">BootCamp</a></li>
                                                    <li><a href="/event/unconference">Unconference</a></li>
                                                    <li><a href="/event/product-construct">Product Construct</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu"><a href="/startup-conclave">Startup Conclave</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="/event/elevate">Elevate</a></li>
                                                    <li><a href="/event/startup-showcase">Startup Showcase</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="https://esummitiitm.org/growth-conclave">Growth
                                                    Conclave</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->
        <!-- Revolution Slider -->
        <section id="slider">

            <div id="welcome_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="reveal-add-on36"
                data-source="gallery" style="background:#ffffff;padding:0px;">
                <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
                <div id="rev_slider_150_1" class="rev_slider fullscreenbanner" style="display:none;"
                    data-version="5.4.1">

                    <ul>

                        <!-- SLIDE  -->
                        <li data-index="rs-410" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                            data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                            data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide"
                            data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                            data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="/images/boardroom/gettyimages-637867656.jpg" alt=""
                                data-bgposition="center center" data-kenburns="on" data-duration="20000"
                                data-ease="Linear.easeNone" data-scalestart="130" data-scaleend="100"
                                data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0"
                                data-bgparallax="off" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <div class="bg-overlay" data-style="10"></div>
                            <div class="tp-caption tp-shape tp-shapewrapper " id="slide-101-layer-14"
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
                                data-basealign="slide" data-responsive_offset="off" data-responsive="off"
                                data-frames='[{"delay":10,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"opacity:0;","ease":"Power4.easeIn"}]'
                                data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 5;font-family:Open Sans;background:linear-gradient(180deg, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 100%);">
                            </div>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-410-layer-13"
                                data-x="center" data-hoffset="" data-y="center" data-voffset=""
                                data-width="['full','full','full','full']" data-height="['full','full','full','full']"
                                data-type="shape" data-basealign="slide" data-responsive_offset="on"
                                data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index: 5;background-color:rgba(0, 0, 0, 0.50);">
                            </div>
                            <!-- LAYER NR. 2 -->
                            <!-- <div class="tp-caption   tp-resizeme" id="slide-410-layer-11" data-x="center" data-hoffset="" data-y="center" data-voffset="" data-width="['full-proportional','full-proportional','full-proportional','full-proportional']" data-height="['full-proportional','full-proportional','full-proportional','full-proportional']" data-type="image" data-basealign="slide" data-responsive_offset="on" data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-blendmode="overlay" style="z-index: 6;"><img src="/plugins/slider-revolution/assets/images/grainoverlay.gif" alt="" data-ww="full-proportional" data-hh="full-proportional" width="400" height="368" data-no-retina> </div> -->
                            <!-- LAYER NR. 3 -->
                            
                            <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme  eightybar"
                                id="slide-410-layer-8" data-x="center" data-hoffset="" data-y="308" data-width="['940']"
                                data-height="['10']" data-type="shape" data-responsive_offset="on"
                                data-frames='[{"delay":1000,"speed":3000,"frame":"0","from":"sX:0;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" data-blendmode="none"
                                style="z-index: 7;background-color:#eaddfc;"> </div>
                            <!-- LAYER NR. 4 -->
                            
                            <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme  eightybar"
                                id="slide-410-layer-9" data-x="center" data-hoffset="-370" data-y="475"
                                data-width="['200']" data-height="['10']" data-type="shape" data-responsive_offset="on"
                                data-frames='[{"delay":1200,"speed":3000,"frame":"0","from":"sX:0;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" data-blendmode="none"
                                style="z-index: 8;background-color:#eaddfc"> </div>
                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption   tp-resizeme  eightygradient" id="slide-410-layer-1" data-x="center"
                            data-hoffset="-11" data-y="center" data-voffset="-159" data-width="['auto']"
                            data-height="['auto']" data-type="text" data-responsive_offset="on"
                            data-frames='[{"delay":500,"speed":3000,"frame":"0","from":"y:-50px;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[20,20,20,20]" data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[20,20,20,20]" data-blendmode="none"
                            style="z-index: 11; white-space: nowrap; font-size: 60px; line-height: 120px; font-weight: 700; color:#eaddfc;font-family:Georgia, serif;">
                            THE </div>
                            <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme  eightybar"
                                id="slide-410-layer-10" data-x="center" data-hoffset="370" data-y="475"
                                data-width="['200']" data-height="['10']" data-type="shape" data-responsive_offset="on"
                                data-frames='[{"delay":1200,"speed":3000,"frame":"0","from":"sX:0;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" data-blendmode="none"
                                style="z-index: 9;background-color:#eaddfc;"> </div>
                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption   tp-resizeme  eightygradient" id="slide-410-layer-3" data-x="center"
                                data-hoffset="-403" data-y="center" data-voffset="-38" data-width="['auto']"
                                data-height="['auto']" data-type="text" data-responsive_offset="on"
                                data-frames='[{"delay":300,"speed":3000,"frame":"0","from":"x:-50px;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;fb:10px;","to":"x:200;o:1;fb:0;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:1;fb:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[30,30,30,30]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[30,30,30,30]" data-blendmode="none"
                                style="z-index: 10; white-space: nowrap; font-size: 180px; line-height: 180px; font-weight: 700; color:#eaddfc;font-family:Georgia, serif;">
                                B </div>
                            <!-- LAYER NR. 7 -->
                            <div class="tp-caption   tp-resizeme  eightygradient" id="slide-410-layer-1" data-x="center"
                                data-hoffset="-11" data-y="center" data-voffset="-59" data-width="['auto']"
                                data-height="['auto']" data-type="text" data-responsive_offset="on"
                                data-frames='[{"delay":500,"speed":3000,"frame":"0","from":"y:-50px;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[20,20,20,20]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[20,20,20,20]" data-blendmode="none"
                                style="z-index: 11; white-space: nowrap; font-size: 120px; line-height: 120px; font-weight: 700; color:#eaddfc;font-family:Georgia, serif;">
                                OAR </div>
                            <!-- LAYER NR. 8 -->
                            <div class="tp-caption   tp-resizeme  eightygradient" id="slide-410-layer-4" data-x="center"
                                data-hoffset="396" data-y="center" data-voffset="-38" data-width="['auto']"
                                data-height="['auto']" data-type="text" data-responsive_offset="on"
                                data-frames='[{"delay":300,"speed":3000,"frame":"0","from":"x:50px;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;fb:10px;","to":"x:-200px;o:1;fb:0;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[30,30,30,30]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[30,30,30,30]" data-blendmode="none"
                                style="z-index: 12; white-space: nowrap; font-size: 180px; line-height: 180px; font-weight: 700; color: #eaddfc;font-family:Georgia, serif;">
                                D </div>
                            <!-- LAYER NR. 9 -->
                            <div class="tp-caption   tp-resizeme  eightygradient" id="slide-410-layer-5" data-x="center"
                                data-hoffset="" data-y="center" data-voffset="60" data-width="['auto']"
                                data-height="['auto']" data-type="text" data-responsive_offset="on"
                                data-frames='[{"delay":700,"speed":3000,"frame":"0","from":"x:0px;y:50px;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[20,20,20,20]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[20,20,20,20]" data-blendmode="none"
                                style="z-index: 13; white-space: nowrap; font-size: 130px; line-height: 130px; font-weight: 700; color:#eaddfc;font-family:Georgia, serif;">
                                ROOM </div>
                                <div class="tp-caption  " id="slide-410-layer-17" data-x="center" data-hoffset="" data-y="600" data-width="['auto']" data-height="['auto']" data-type="text" data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":"","speed":"300","ease":"Linear.easeNone"}]' data-responsive_offset="on" data-responsive="on" data-frames='[{"delay":1500,"speed":3000,"frame":"0","from":"y:-50px;sX:0.75;sY:0.75;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"150","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgba(0, 0, 0, 1.00);bg:#7341B4;bc:rgba(255, 0, 0, 1.00);"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[35,35,35,35]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[35,35,35,35]" data-blendmode="screen" style="z-index: 14; white-space: nowrap; font-size:30px; line-height: 50px; font-weight: 700; color:#7341B4 ;font-family:Arial;background-color:rgba(0, 0, 0, 0.75);border-color:#7341B4;border-width:0px 0px 0x 0px;letter-spacing:2px;cursor:pointer;">MAKE DECISIONS THAT MATTER</div>
                            <!-- LAYER NR. 10 -->

                            <div class="tp-caption rev-btn   eightybar" id="slide-410-layer-17" data-x="center"
                                data-hoffset="" data-y="700" data-width="['auto']" data-height="['auto']"
                                data-type="button"
                                data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":"","speed":"300","ease":"Linear.easeNone"}]'
                                data-responsive_offset="on" data-responsive="off"
                                data-frames='[{"delay":1500,"speed":3000,"frame":"0","from":"y:-50px;sX:0.75;sY:0.75;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"150","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgba(0, 0, 0, 1.00);bg:#eaddfc;bc:#7341B4;"}]'
                                data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[35,35,35,35]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[35,35,35,35]" data-blendmode="screen"
                                style="z-index: 1000; white-space: nowrap; font-size: 15px; line-height: 50px; font-weight: 700; color: rgb(241, 216, 241);font-family:Arial;background-color:#7341B4;border-color:#7341B4;border-style:solid;border-width:2px 2px 2px 2px;letter-spacing:2px;cursor:pointer;">



                                <% if (isLoggedIn && isRegistered) { %>
                                    <a type="button" data-tilt data-tilt-glare="true" class="btn text-uppercase btn-lg"
                                        href="#"
                                        style="color: #ffffff !important;">
                                        Go to Portal
                                    </a>
                                    <% } else { %>
                                        <button class="btn btn-lg shadow disabled" style="cursor: not-allowed !important;">
                                            Registrations closed
                                        </button>
                                        <% } %>
                                            <!-- Register -->
                            </div>
                        </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>

                </div>

            </div>
            <div class="shape-divider" data-style="4" style="z-index: 25;"></div>

        </section>
        <!-- END REVOLUTION SLIDER -->


        <script type="text/javascript" src="/js/boardroom/boardroom2.js">
            /*ready*/
        </script>
        <!-- <section style="transform: translate(0px,0) ;z-index: 999 !important ;position: relative !important; overflow:visible !important ; max-height:0.1rem !important ;background-color:rgb(24,24,24, 1);"   >
                <canvas id="canvas" style="transform: translate(0,-80px) scale(1,1) ; z-index: 999 !important; overflow:visible !important" ></canvas>
            </section> -->



        <!-- end: Revolution Slider-->
        <!-- SECTION DARK -->


        <section class="background-dark" id="about">
            <!-- <div class=" reverse-shape-divider shape-divider" data-style="4" style="z-index: 25;"></div> -->
            

            <div class=" reverse-shape-divider shape-divider" data-style="4" style="z-index: 25;"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-left" data-animate="fadeInLeft"> <img alt="" src="/images/boardroom/2.svg"  data-ww="['520px','400px','300px','250px']" data-hh="['520px','400px','300','250']"
                        width="350" height="350" data-no-retina> </div>
                    <div class="col-lg-8" data-animate="fadeInRight">
                        <div class="heading-text heading-section text-right text-light mt-5">
                            <h1>About</h1>
                            <h5>A Game depicting the nitty-gritty of the functioning of a typical “board of directors”
                                of a Company. Participants will have the opportunity to demonstrate a bold vision,
                                creativity, technical insight, and business leadership while solving a business base
                                focused on the issues of tomorrow.
                            </h5>
                            <h5>
                               <strong>FOR Youth Conclave Participants</strong> 
                            </h5>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: SECTION DARK -->

        <!-- Register Modal -->
        <div class="modal fade" id="register-modal" tabindex="-1" role="modal" aria-labelledby="register-modal"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">E-Summit Registration</h4>
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    </div>
                    <div class="modal-body" id="register-form-modal-body">
                        <form id="register-form" class="form-validate">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">Name <span class="text-danger">*</span> </label>
                                    <input type="text" class="form-control" name="name" placeholder="Enter your Name"
                                        required>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="email">Email address <span class="text-danger">*</span></label>
                                    <input type="email" class="form-control" name="email" placeholder="Enter your email"
                                        required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="telephone">Contact No. <span class="text-danger">*</span></label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="prefix">+91</span>
                                        </div>
                                        <input class="form-control" type="phone" name="phone"
                                            placeholder="Enter your Telephone number" aria-describedby="prefix"
                                            required>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="password">Password <span class="text-danger">*</span></label>
                                    <div class="input-group show-hide-password">
                                        <input id="password" class="form-control" name="password"
                                            placeholder="Enter password" type="password" required>
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="icon-eye-off" aria-hidden="true"
                                                    style="cursor: pointer;"></i></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label for="instituteName">Institute name <span class="text-danger">*</span></label>
                                    <input type="text" name="instituteName" class="form-control"
                                        placeholder="Enter your Institute name" required>
                                </div>
                                <div class="col-md-4 form-group justify-content-end">
                                    <label for="startupOwner">Do you have a startup? <span
                                            class="text-danger">*</span></label>
                                    <input id="yes" name="startupOwner" value="yes" type="radio">
                                    <label style="display: inline;" for="yes">Yes</label>
                                    <br>
                                    <input id="no" name="startupOwner" value="no" type="radio">
                                    <label style="display: inline;" for="no">No</label>
                                </div>
                            </div>
                            <div class="row" class="justify-content-center text-center">
                                <div class="col-md-3 d-none d-md-block"></div>
                                <div class="col-12 col-md-6 text-center p-t-10">
                                    <button id="register-button" type="submit" class="btn btn-block">Register</button>
                                    <span>
                                        Already registered? <a href="#" data-target="#login-modal" data-dismiss="modal"
                                            data-toggle="modal">Log In</a>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <form id="verification-form" class="hidden">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <span>A mail has been sent.</span>
                                    <br>
                                    <label for="code">Verification Code<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="code"
                                        placeholder="Enter the verification code." required>
                                </div>
                                <span class="text-danger hidden">
                                    The Verification Code is incorrect. Please input a correct code.
                                </span>
                            </div>
                            <button id="verify-button" type="submit text-right" class="btn">Verify</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: Register Modal -->
        <!-- Login Modal -->
        <div class="modal fade" id="login-modal" tabindex="-1" role="modal" aria-labelledby="login-modal"
            aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">E-Summit Login</h4>
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    </div>
                    <div class="modal-body" id="login-form-modal-body">
                        <form id="login-form" class="form-validate">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="summitID">E-Summit ID<span class="text-danger">*</span></label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="prefix">ES21</span>
                                        </div>
                                        <input type="text" class="form-control" name="summitID"
                                            placeholder="Enter your Summit ID" required>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 m-b-0">
                                    <label for="password">Password <span class="text-danger">*</span></label>
                                    <div class="input-group show-hide-password">
                                        <input id="login-password" class="form-control" name="password"
                                            placeholder="Enter password" type="password" required>
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="icon-eye-off" aria-hidden="true"
                                                    style="cursor: pointer;"></i></span>
                                        </div>
                                    </div>
                                    <span class="text-danger" id="password-incorrect" style="display: none;">
                                        The password is incorrect. Please input the correct password.
                                    </span>
                                    <a href="/portal/forgot-password" target="_blank" rel="noopener noreferrer">Forgot
                                        Password?</a>
                                </div>
                            </div>
                            <div class="row" class="justify-content-center text-center">
                                <div class="col-md-3 d-none d-md-block"></div>
                                <div class="col-12 col-md-6 text-center p-t-10">
                                    <button id="login-button" type="submit" class="btn btn-block">Login</button>
         
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: Login Modal -->
        <!-- Info Modal -->
        <div class="modal fade" id="info-modal" tabindex="-1" role="modal" aria-labelledby="info-modal"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">E-Summit Register</h4>
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    </div>
                    <div class="modal-body text-center" id="login-form-modal-body">
                        <h4>You need to be registered/logged in to E-Summit to register in an event.</h4>
                        <a class="btn btn-sm" data-toggle="modal" type="button" data-dismiss="modal"
                            data-target="#register-modal" style="color: #ffffff;">Register</a>
                        <a class="btn btn-sm" data-toggle="modal" type="button" data-dismiss="modal"
                            data-target="#login-modal" style="color: #ffffff;">Log In</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: Info Modal -->



        <section
            style="transform: translate(0px,0px) ;z-index: 9 !important ;position: relative !important; overflow:visible !important ; max-height:0.1rem !important ;background-color:rgb(24,24,24, 1);">
            <canvas id="canvas2"
                style="transform: translate(0,0) scale(1,1) ; z-index: 999 !important; overflow:visible !important"></canvas>
        </section>
        <!-- SECTION DARK -->
        <!-- <section class="background-dark" >
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2"> <img alt="" src="images/other/polo-iphone6-v2.pn"> </div>
                <div class="col-lg-10" data-animate="fadeInRight">
                    <div class="heading-text heading-section text-right text-light mt-5">
                        <h1>About</h1>
                        <p>Nulla varius consequat magna, id molestie ipsum volutpat quis. A true story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>
                        <a class="btn" href="#"><i class="fa fa-tint"></i> Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
        <section id=timeline style="padding-top: 15%;">
            <h1>Timeline</h1>
            <div class="demo-card-wrapper">
                <div class="demo-card demo-card--step1" data-animate="fadeInLeft">
                    <div class="head">
                        <div class="number-box">
                            <span>01</span>
                        </div>
                        <h2><span class="small"></span> Knockout Quiz</h2>
                    </div>
                    <div class="body">
                        <h3>17th Feb</h3>
                        

                    </div>
                </div>

                <div class="demo-card demo-card--step2" data-animate="fadeInRight">
                    <div class="head">
                        <div class="number-box">
                            <span>02</span>
                        </div>
                        <h2><span class="small"></span> Result announcement </h2>
                    </div>
                    <div class="body">
                        <h3>20th Feb</h3>

                    </div>
                </div>

                <div class="demo-card demo-card--step3" data-animate="fadeInLeft">
                    <div class="head">
                        <div class="number-box">
                            <span>03</span>
                        </div>
                        <h2><span class="small"></span>
                            Instructions for summit finale
                        </h2>
                    </div>
                    <div class="body">
                        <h3>2nd March</h3>

                    </div>
                </div>

                <div class="demo-card demo-card--step4" data-animate="fadeInRight">
                    <div class="head">
                        <div class="number-box">
                            <span>04</span>
                        </div>
                        <h2><span class="small"></span> Summit showdown</h2>
                    </div>
                    <div class="body">
                        <h3>7th March</h3>

                    </div>
                </div>

                <div class="demo-card demo-card--step5" data-animate="fadeInLeft">
                    <div class="head">
                        <div class="number-box">
                            <span>05</span>
                        </div>
                        <h2><span class="small"></span>Results</h2>
                    </div>
                    <div class="body">
                        <h3></h3>

                    </div>
                </div>

            </div>
        </section>
        <!-- end: SECTION DARK -->
        <section
            style="transform: translate(0px,0px) ;z-index: 9 !important ;position: relative !important; overflow:visible !important ; max-height:0.1rem !important ;background-color:rgb(24,24,24, 1);">
            <canvas id="canvas3"
                style="transform: translate(0,0) scale(1,1) ; z-index: 999 !important; overflow:visible !important"></canvas>
        </section>
        <!-- SECTION DARK -->
        <section class="background-dark" style="padding-top: 10%;" id="rounds">
            <div class="container">
                <div class="heading-text text-light  text-center" data-animate="fadeInUp">
                    <h1>Rounds</h1>
                </div>
                <!-- Text Boxes -->
                <div class="row col-no-margin equalize" data-equalize-item=".text-box"
                    style=" overflow: visible !important;">
                    <!--Box 1-->
                    <div class="col-lg-6" style="background-color: #bb9fe0;overflow: visible !important; "
                        data-animate="fadeInLeft">

                        <div class="text-box" style="max-height: 350px;overflow: visible !important;">
                            <i class="fa fa-paper-plane"></i>
                                <h3>Round 1 </h3>
                                <h4>KnockOut Quiz </h4>
                               

                        </div>
                        <div class="accordion accordion-theme p-b-30"
                            style="padding-top: 10%;margin: 0 auto; width:80%">
                            <div class="ac-item">
                                <h5 class="ac-title" style="padding-right: 20%;">Learn more</h5>
                                <div class="ac-content">
                                    <div class="row text-light">
                                        <div class="col-lg-12">
                                            <ul class="list-icon list-icon-check list-icon-colored">
                                                <li><i class="fa fa-paper-plane"></i>The Quiz will be based on the roles and duties of each Board Member. The questions will consist of typical problems that are dealt with by the members of the board.</li>
                                                <li><i class="fa fa-paper-plane"></i>Structure:</li>
                                                <ul>
                                                    <li style="padding-left: 10%;">
                                                       > Total Questions - 15
                                                    </li> 
                                                    <li style="padding-left: 10%;">
                                                        > Total marks - 35
                                                    </li>

                                                </ul>
                                                <li><i class="fa fa-paper-plane"></i><strong> The number of participants selected for the final round = 5 x 6 = 30 </strong> <br>
                                                    The selected people will then have to fill a form to give their preference order for the member of the board they want to represent in the final round.</li>
                                                <li><i class="fa fa-paper-plane"></i>The roles will be allotted to the selected participants based on their preferences and <strong>scores</strong>(High score implies more chance of getting 1st preference) in the first round and a team of 5 each consisting of<strong> CEO/CTO/CFO/CMO/HR </strong>will be made by us (total 6 teams).</li>
                                                <li><i class="fa fa-paper-plane"></i>The information regarding the team and team members and a WhatsApp group for each team will be formed and conveyed prior to the<strong> Final Round.</strong></li>
                                            </ul>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End: Box 1-->
                    <!--Box 2-->
                    <div class="col-lg-6" style="background-color:#b482f7;" style="max-height: 400px;"
                        data-animate="fadeInRight">
                        <div class="text-box" style="max-height: 350px;overflow: visible !important;">
                            <a href="#"> <i class="fas fa-trophy"></i>
                                <h3>Round 2 </h3>
                                <h4>E-Summit- Boardroom Case ShowDown</h4>
                                <h5>0.5 hrs (Problem statement+doubt clarification) + 1.5 hrs (Discussion)
                                </h5>
                            </a>

                        </div>
                        <div class="accordion accordion-theme p-b-30"
                            style="padding-top: 10%;margin: 0 auto; width:80%">
                            <div class="ac-item">
                                <h5 class="ac-title" style="padding-right: 20%;">Learn more</h5>
                                <div class="ac-content">
                                    <ul class="list-icon list-icon-check list-icon-colored">
                                        <li><i class="fa fa-trophy"></i>A Problem statement will be presented to the teams along with <strong>certain resource constraints </strong>(e.g., investor cant invest more than 10,000$, Workers must not be overworked(HR should ensure this), CFO must distribute the money ina certain order, etc.)</li>
                                        <li><i class="fa fa-trophy"></i>The Teams must discuss themselves and develop the most efficient solution (complying with the constraints) in 1.5 hrs.</li>
                                        <li><i class="fa fa-trophy"></i>In the end, Each board member shall fill a form which will have certain questions related to the roles assigned to them. (to be attached at the end of the report)</li>
                                        <li><i class="fa fa-trophy"></i>Each member should be aware of the duties, responsibilities, and departments that come under his or her role.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End: Box 2-->

                </div>
                <!-- end: Text Boxes -->
                <!-- Text Boxes -->
            </div>
        </section>
        <!-- end: SECTION DARK -->

        <section
            style="transform: translate(0px,0px) ;z-index: 9 !important ;position: relative !important; overflow:visible !important ; max-height:0.1rem !important ;background-color:rgb(24,24,24, 1);">
            <canvas id="canvas1"
                style="transform: translate(0,-75) scale(1,1) ; z-index: 999 !important; overflow:visible !important"></canvas>
        </section>

        <!-- SECTION DARK -->
        <section class="background-dark" style="padding-top: 10%;" id="criteria">
            <div class="container">
                <!--Icon pie chart-->
                <div class="heading-text text-light text-left" data-animate="fadeInLeft">
                    <h1>Submission requirements for the Final Round and Judging criteria</h1>
                </div>
                <div class="row text-light">
                    <div class="col-lg-6 text-center"> <span class="pie-chart" data-percent="100" data-size="80"
                            data-width="3">  <i class="fa fa-book-open"></i> </span>
                        <h4>Report</h4>
                        <p>Feasibility of their solution, practicality, financially affordable, convenient, best case study solution, efficient investments, etc.</p>
                    </div>
                    <div class="col-lg-6 text-center">
                        <div class="pie-chart" data-percent="100" data-size="80" data-width="3"> <i class="fa fa-file-alt"></i> </div>
                        <h4> Form</h4>
                        <p> To ensure that each participant has performed the role allotted to them only.
                        </p>
                    </div>
                    <!-- <div class="col-lg-6 text-center">
                        <div class="pie-chart" data-percent="100" data-size="80" data-width="3"> <i
                                class="fa fa-money-bill text-small"></i> </div>
                        <h4>Bank</h4>
                        <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor.</p>
                    </div> -->
                    <!-- <div class="col-lg-3 text-center">
                        <div class="pie-chart" data-percent="100" data-size="80" data-width="3"> <i
                                class="fa fa-camera text-small"></i> </div>
                        <h4>Camera</h4>
                        <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor
                            cursumus.</p>
                    </div> -->
                </div>
                <!--END: Icon pie chart-->
            </div>
        </section>
        <!-- end: SECTION DARK -->

        <!-- <section
            style="transform: translate(0px,0px) ;z-index: 9 !important ;position: relative !important; overflow:visible !important ; max-height:0.1rem !important ;background-color:rgb(24,24,24, 1);">
            <canvas id="canvas4"
                style="transform: translate(0,-75) scale(1,1) ; z-index: 999 !important; overflow:visible !important"></canvas>
        </section> -->

        <!-- end: Revolution Slider-->
        <!-- SECTION DARK -->
        <!-- <section class="background-dark" style="padding-top: 20%;">
            <div class="container">
                <div class="heading-text text-light text-center " data-animate="fadeInDown">
                    <h1>Who can participate?</h1>
                </div>
                <div class="row text-light">
                    <div class="col-lg-6">
                        <ul class="list-icon list-icon-check list-icon-colored">
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Beautiful nature, and rare feathers!</li>
                            <li>Integer molestie lorem at massa</li>

                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-icon list-icon-check list-icon-colored">
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Beautiful nature, and rare feathers!</li>
                            <li>Integer molestie lorem at massa</li>

                        </ul>
                    </div>
                </div>
        </section> -->
        <!-- end: SECTION DARK -->

        <section
            style="transform: translate(0px,0px) ;z-index: 9 !important ;position: relative !important; overflow:visible !important ; max-height:0.1rem !important ;background-color:rgb(24,24,24, 1);">
            <canvas id="canvas5"
                style="transform: translate(0,-75) scale(1,1) ; z-index: 999 !important; overflow:visible !important"></canvas>
        </section>


        <!-- end: Revolution Slider-->
        <!-- SECTION DARK -->
        <section class="background-dark" style="padding-top: 15%;" id="incentives">
            <div id="rev_slider_92_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7.2">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-137" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                        data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
                        data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
                        data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                        data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="/plugins/slider-revolution/assets/images/transparent.png" data-bgcolor='#181818'
                            style='background:#181818' alt="" data-bgposition="center center" data-bgfit="cover"
                            data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <div id="rrzm_137" class="rev_row_zone rev_row_zone_middle" style="z-index: 7;">
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption  " id="slide-137-layer-58" data-x="['left','left','left','left']"
                                data-hoffset="['100','100','100','100']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['0','0','100','100']" data-width="none" data-height="none"
                                data-whitespace="nowrap" data-type="row" data-columnbreak="3"
                                data-responsive_offset="on" data-responsive="off"
                                data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
                                data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
                                data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption  " id="slide-137-layer-59" data-x="['left','left','left','left']"
                                    data-hoffset="['100','100','100','100']" data-y="['top','top','top','top']"
                                    data-voffset="['100','100','100','100']" data-width="none" data-height="none"
                                    data-whitespace="nowrap" data-type="column" data-responsive_offset="on"
                                    data-responsive="off"
                                    data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                    data-columnwidth="50%" data-verticalalign="top" data-margintop="[0,0,0,0]"
                                    data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
                                    data-marginleft="[0,0,0,0]" data-textAlign="['right','right','right','right']"
                                    data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                    data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                                    style="z-index: 8; width: 100%;"> </div>
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption  " id="slide-137-layer-60" data-x="['left','left','left','left']"
                                    data-hoffset="['100','100','100','100']" data-y="['top','top','top','top']"
                                    data-voffset="['100','100','100','100']" data-width="none" data-height="none"
                                    data-whitespace="nowrap" data-type="column" data-responsive_offset="on"
                                    data-responsive="off"
                                    data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                    data-columnwidth="50%" data-verticalalign="top" data-margintop="[0,0,0,0]"
                                    data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
                                    data-marginleft="[0,0,0,0]"
                                    data-textAlign="['inherit','inherit','inherit','inherit']"
                                    data-paddingtop="[0,0,0,0]" data-paddingright="[50,50,30,30]"
                                    data-paddingbottom="[0,0,0,0]" data-paddingleft="[50,50,30,30]"
                                    style="z-index: 9; width: 100%;">
                                    <!-- LAYER NR. 4 -->
                                    <!-- <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-2" id="slide-137-layer-56" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-width="['200','200','100','100']" data-height="2" data-whitespace="normal" data-type="shape" data-responsive_offset="on" data-frames='[{"delay":"+300","speed":2000,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:[-100%];y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[10,10,10,10]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10; display: inline-block;background-color:rgb(225,0,0);"> </div> -->
                                    <!-- LAYER NR. 5 -->
                                    <!-- <div class="tp-caption text-light  tp-resizeme rs-parallaxlevel-2" id="slide-137-layer-34" data-x="['left','center','center','center']" data-hoffset="['0','-250','-180','-180']" data-y="['top','top','top','top']" data-voffset="['0','530','590','590']" data-width="['none','none','340','340']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":"+300","speed":2000,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:[-100%];y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[40,40,30,30]" data-marginleft="[0,0,0,0]" data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 11; white-space: normal; font-size: 13px; line-height: 13px; font-weight: 600; color: #000000; letter-spacing: 0px; display: block;;"> </div> -->
                                    <!-- LAYER NR. 6 -->
                                    <div class="tp-caption text-light  tp-resizeme rs-parallaxlevel-2"
                                        id="slide-137-layer-51" data-x="['left','center','center','center']"
                                        data-hoffset="['0','250','180','180']" data-y="['top','top','top','top']"
                                        data-voffset="['0','410','500','500']" data-fontsize="['70','70','70','70']"
                                        data-lineheight="['100','100','70','70']" data-height="none"
                                        data-whitespace="normal" data-type="text" data-responsive_offset="on"
                                        data-frames='[{"delay":"+400","speed":2000,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:[-100%];y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                        data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]"
                                        data-marginbottom="[20,20,20,20]" data-marginleft="[0,0,0,0]"
                                        data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]"
                                        style="z-index: 12; white-space: normal; font-size: 70px; line-height: 180px; font-weight: 400; color: #000000; letter-spacing: 1px; display: block;font-family:'Titillium Web', sans-serif;">
                                        What's in for you?</div>
                                    <!-- LAYER NR. 7 -->
                                    <div class="tp-caption text-light  tp-resizeme rs-parallaxlevel-2"
                                        id="slide-137-layer-52" data-x="['left','center','center','center']"
                                        data-hoffset="['0','254','182','182']" data-y="['top','top','top','top']"
                                        data-voffset="['0','530','590','590']" data-fontsize="['34','34','40','40']"
                                        data-width="100%" data-height="none" data-whitespace="normal" data-type="text"
                                        data-responsive_offset="on"
                                        data-frames='[{"delay":"+400","speed":2000,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:[-100%];y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                        data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]"
                                        data-marginbottom="[20,20,20,20]" data-marginleft="[0,0,0,0]"
                                        data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]"
                                        style="z-index: 13; min-width: 100%px; max-width: 100%px; white-space: normal; font-size: 70px; line-height: 90px; font-weight: 400; color: rgba(0,0,0,0.5); letter-spacing: 0px; display: block;font-family: 'Open Sans', sans-serif; ;">
                                        Win prizes upto 21k </div>
                                    <!-- LAYER NR. 8 -->
                                    <!-- <div class="tp-caption text-light  tp-resizeme rs-parallaxlevel-2" id="slide-137-layer-57" data-x="['left','center','center','center']" data-hoffset="['0','254','182','182']" data-y="['top','top','top','top']" data-voffset="['0','530','590','590']" data-width="none" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":"+500","speed":2000,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:[-100%];y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-margintop="[0,0,0,0]" data-marginright="[20,20,20,20]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 14; white-space: normal; font-size: 17px; line-height: 30px; font-weight: 400; color: rgba(0,0,0,0.5); letter-spacing: 0px; display: inline-block;;font-style:italic;">March 2018 </div> -->
                                    <!-- LAYER NR. 9 -->
                                    <!-- <div class="tp-caption text-light  tp-resizeme rs-parallaxlevel-2" id="slide-137-layer-61" data-x="['left','center','center','center']" data-hoffset="['5','254','182','182']" data-y="['top','top','top','top']" data-voffset="['5','530','590','590']" data-width="none" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":"+500","speed":2000,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:[-100%];y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-margintop="[0,0,0,0]" data-marginright="[20,20,20,20]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 15; white-space: normal; font-size: 17px; line-height: 30px; font-weight: 400; color: rgba(0,0,0,0.5); letter-spacing: 0px; display: inline-block;;font-style:italic;"> for Smart Content </div> -->
                                    <!-- LAYER NR. 10 -->
                                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                                        id="slide-137-layer-63" data-x="['left','left','left','left']"
                                        data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                                        data-voffset="['0','0','0','0']" data-fontweight="['500','500','400','400']"
                                        data-width="100%" data-height="['50','50','30','30']" data-whitespace="normal"
                                        data-type="shape" data-responsive_offset="on"
                                        data-frames='[{"delay":"+600","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                        data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]"
                                        data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]"
                                        data-textAlign="['inherit','inherit','inherit','inherit']"
                                        data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                                        style="z-index: 16; display: block;"> </div>
                                    <!-- LAYER NR. 11 -->
                                    <!-- <div class="tp-caption rev-btn  tp-resizeme rs-parallaxlevel-2" id="slide-137-layer-62" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-width="none" data-height="none" data-whitespace="normal" data-type="button" data-responsive_offset="on" data-frames='[{"delay":"+600","speed":2000,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:[-100%];y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"150","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(0,0,0);bs:solid;bw:0 0 0 0;"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 17; white-space: normal; font-size: 13px; line-height: 20px; font-weight: 600; color: #000000; letter-spacing: px; display: inline-block;;border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">VIEW PROJECT <i class="fa fa-icon-long-arrow-right" style="margin-left:5px;color: #e10000;"></i> </div> -->
                                </div>
                            </div>
                        </div>
                        <!-- LAYER NR. 12 -->
                        <!-- <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-137-layer-17" data-x="['left','left','left','left']" data-hoffset="['-93','-19','-40','-40']" data-y="['top','top','top','top']" data-voffset="['-40','50','70','70']" data-fontsize="['400','250','250','250']" data-lineheight="['400','250','250','250']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:[-100%];y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 400px; line-height: 400px; font-weight: 400; color: #e10000; letter-spacing: 0px;font-family:Playfair Display;">R </div> -->
                        <!-- LAYER NR. 13 -->
                        <div class="tp-caption   tp-resizeme  immersion-box rs-parallaxlevel-9" id="slide-137-layer-55"
                            data-x="['left','left','left','left']" data-hoffset="['50','70','50','0']"
                            data-y="['top','top','top','top']" data-voffset="['230','230','240','240']"
                            data-width="none" data-height="none" data-whitespace="normal" data-type="image"
                            data-responsive_offset="on"
                            data-frames='[{"delay":500,"speed":2000,"frame":"0","from":"y:50px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['right','right','right','right']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 6;"><img src="/images/boardroom/1.jpeg" alt=""
                                data-ww="['520px','400px','300px','300px']" data-hh="['520px','400px','300','300']"
                                width="1100" height="1100" data-no-retina> </div>
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
    </div><!-- END REVOLUTION SLIDER -->

    <!-- <div class="shape-divider" data-style="13" style="z-index: 75;background-color: #7341B4;"></div> -->

    </section>
    <!-- end: SECTION DARK -->


    <!-- SECTION DARK -->
    <!-- <section class="background-dark" > -->
    <!-- <div class=" reverse-shape-divider shape-divider" data-style="4" style="z-index: 25;"></div> -->


    <!-- <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2"> <img alt="" src="images/other/polo-iphone6-v2.pn"> </div>
                    <div class="col-lg-10" data-animate="fadeInRight">
                        <div class="heading-text heading-section text-right text-light mt-5">
                            <h1>What's in for You</h1>
                            <h2><span class="text-rotator">Option1, Option2, Option3, Option4
                                </span></h2>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
    <!-- end: SECTION DARK -->
    <!-- <section> <div class="shape-divider" data-style="13" style="z-index: 75;background-color: #7341B4;"></div></section> -->





    <!-- Contact -->
    <section id="contact" class="p-t-30 p-b-80" style="background-color:  #7341B4; ">
        <div class="reverse-shape-divider shape-divider" data-style="2" style="z-index: 25;background-color: #7341B4;"></div>
        <div id="particles-bubble" class="particles"></div>
        <!-- <div class="bg-overlay" data-style="10" style="transform: scale(1,-1);"></div> -->
        <div class="bg-overlay" data-style="10"></div>
    
        <!-- <div class="shape-divider" data-style="7" data-flip-vertical="true" data-flip-horizontal="true" data-position="top" data-color="#E3B34C" ></div> -->
        <div class="container tex" style="display:flex; flex-direction:column; align-items: center;">
          <h2 class="m-b-10 p-t-20 text-light text-center">For queries, contact:</h2>
          <div>
            <!-- <div class="row text-light" style="align-items: center;">
                    <div class="col-2">
                        <i class="fa-2x icon-mail"></i>
                    </div>
                    <div class="col-18 text-left">
                        <strong>
                            events_ecell@smail.iitm.ac.in
                        </strong>
                    </div>
                </div> -->
            <br>
            <div class="row text-light text-center" style="align-items: center;">
              <div class="col-2">
                <i class="fa-2x icon-phone"></i>
              </div>
              <div class="col-10">
                <strong>+91 7993520015</strong> Nishant
                <br>
                <!-- <strong>+91 8709428784</strong> Pratyush -->
    
              </div>
            </div>
          </div>
        </div>
        <div class="space"></div>
      </section>
    
    
    
      <!-- Footer -->
      <footer id="footer" class="dark text-light" style="z-index: 20;">
        <div class="copyright-content p-t-10 p-b-20">
          <!-- <hr> -->
          <div class="container">
            <div class="row h5">
              <div class="col-lg-6  text-light">
                <div class="d-none d-xl-block d-lg-block">
                  &copy; Developed by <strong>Web Operations | E-Cell | IIT Madras.</strong>
                  <br>
                  All Rights Reserved.
                </div>
                <div class="d-block d-lg-none text-center">
                  &copy;Developed by
                  <br>
                  <strong>Web Operations | E-Cell | IIT Madras.</strong>
                  <br>
                  All Rights Reserved.
                </div>
              </div>
              <div class="col-lg-6 text-light">
                <div class="d-none d-xl-block d-lg-block">
                  <span>For issues related to the website, contact:</span>
                  <div class="row">
                    <div class="col-lg-6 col-md-6"><a href="https://www.linkedin.com/in/ashish-kumar-shroti/" style="color: Aquamarine! important"> Ashish Shroti</a>
                      <i class="fab fa-whatsapp"></i> : +91 9983321407
                    </div>
                  </div>
                </div>
                <div class="d-block d-lg-none text-center">
                  <br>
                  <span>For issues related to the website, contact:</span>
                  <div><a href="https://www.linkedin.com/in/ashish-kumar-shroti/" style="color: Aquamarine! important"> Ashish Shroti</a> <i class="fab fa-whatsapp"></i> : +91 9983321407</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>

    <!-- end: Footer -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="/js/plugins.js"></script>
    <!--Template functions-->
    <script src="/js/functions.js"></script>
    <!-- charts.js component-->
    <script src="/plugins/chartjs/chart.min.js"></script>
    <script src="/plugins/chartjs/utils.js"></script>
    <script src="/plugins/moment/moment.min.js"></script>

    <script src="/js/boardroom/boardroom3.js"></script>
    <link rel="stylesheet" href="/css/fonts.css" />
    <link href="/css/youth-theme.css" rel="stylesheet" />

    <!-- Partical js base file  -->
    <script src="/plugins/particles/particles.js" type="text/javascript"></script>
    <!--Particles-->
    <script src="/plugins/particles/particles-dots.js" type="text/javascript"></script>
    <!--Particles stars-->
    <script src="/plugins/particles/particles-stars.js" type="text/javascript"></script>
    <!--Particles bubbles-->
    <script src="/plugins/particles/particles-bubble.js" type="text/javascript"></script>
    <!--Particles snow-->
    <script src="/plugins/particles/particles-snow.js" type="text/javascript"></script>

    <!-- <script>
    //     window.chartColors = {
    //   red: 'rgb(255, 99, 132)',
    //   orange: 'rgb(255, 159, 64)',
    //   yellow: 'rgb(255, 205, 86)',
    //   green: 'rgb(75, 192, 192)',
    //   blue: 'rgb(54, 162, 235)',
    //   purple: '#7341B4',
    //   grey: 'rgb(201, 203, 207)',
    //   black: "#000",
    //   white: "#fafafa",
    //   col1: "rgb(1,1,1)"
    // };
        // var progress = document.getElementById('animationProgress');
        var config = {
            type: 'line',
            
            data: {
                grid: false,
                display: false,
                //                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                labels: ['', '', '', '', '', '', ''],
                datasets: [{
                    pointRadius: 0,
                    label: 'My First dataset',
                    fill: true,
                    borderColor: window.chartColors.grey,
                    backgroundColor: window.chartColors.grey,
                    data: [
                        randomScalingFactor()/10,
                        randomScalingFactor()/10,
                        randomScalingFactor()/10,
                        randomScalingFactor()/10,
                        randomScalingFactor()/10,
                        randomScalingFactor()/10,
                        randomScalingFactor()/10
                    ]
                }, {
                    pointRadius: 0,
                    label: 'My Second dataset ',
                    fill: true,
                    borderColor: window.chartColors.purple,
                    backgroundColor: window.chartColors.purple,
                    data: [
                        randomScalingFactor()/10,
                        randomScalingFactor()/10,
                        randomScalingFactor()/10,
                        randomScalingFactor()/10,
                        randomScalingFactor()/10,
                        randomScalingFactor()/10,
                        randomScalingFactor()/10
                    ]
                },
               ]
            },
            options: {
                legend: {
        display: false
    },
    tooltips: {
        callbacks: {
           label: function(tooltipItem) {
                  return tooltipItem.yLabel;
           }
        }
    },
    // elements: {
    //                 point:{
    //                     radius: 1
    //                 }
    //             }
    //         },
                
                scales: {
                   
                    xAxes: [{
                        ticks: {
                    display: false, //this will remove only the label
                   
                },
                        gridLines: {
                            
                            color: "rgba(0, 0, 0, 0)",
                            display: false

                        }
                    }],
                    yAxes: [{
                        ticks: {
                    display: false, //this will remove only the label
                   
                },
                        gridLines: {
                            color: "rgba(0, 0, 0, 0)",
                            display: false

                        }
                    }]
                },
               
                animation: {
                    duration: 10000,
                    // onProgress: function (animation) {
                    //     progress.value = animation.currentStep / animation.numSteps;
                    // },
                    onComplete: function () {
                        window.setTimeout(function () {
                            progress.value = 0;
                        }, 10000);
                    }
                }
            }
        };
        window.onload = function () {
            var ctx = document.getElementById('canvas').getContext('2d');
            ctx.canvas.height = 50;
            ctx.canvas.style.backgroundColor = 'rgb(24,24,24, 0)'
            window.myLine = new Chart(ctx, config);
            setInterval(function () {
            config.data.datasets.forEach(function (dataset) {
                dataset.data = dataset.data.map(function () {
                    return (randomScalingFactor())/10;
                });
            });
            console.log("f1")
            window.myLine.update();
        }, 10000)
        };
        // document.getElementById('randomizeData').addEventListener('click', function () {
        //     config.data.datasets.forEach(function (dataset) {
        //         dataset.data = dataset.data.map(function () {
        //             return randomScalingFactor()/10/10;
        //         });
        //     });
        //     window.myLine.update();
        // });
    </script> -->

    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
    <script src="/js/homepage/register-login.js"></script>
</body>

</html>