<!DOCTYPE html>
<html lang="en">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SGPNVK9S2D"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-SGPNVK9S2D');
    </script>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
    <meta name="description" content="E-Summit 2021 IITM" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<link rel="icon" href="/images/logos/favicon.png" sizes="16x16" />
    <title>Access Pass | Entrepreneurship Cell | IIT Madras</title>
    <!-- Stylesheets & Fonts -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet"><!-- LOAD JQUERY LIBRARY -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
    <!-- LOADING FONTS AND ICONS -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400%7CMontserrat:600%2C400" rel="stylesheet"
        property="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" type="text/css"
        href="/plugins/slider-revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="/plugins/slider-revolution/fonts/font-awesome/css/font-awesome.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="/plugins/slider-revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="/plugins/slider-revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/plugins/slider-revolution/css/navigation.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <!-- REVEAL ADD-ON FILES -->
    <link rel='stylesheet'
        href='/plugins/slider-revolution/revolution-addons/reveal/css/revolution.addon.revealer.css?ver=1.0.0'
        type='text/css' media='all' />
    <link rel='stylesheet'
        href='/plugins/slider-revolution/revolution-addons/reveal/css/revolution.addon.revealer.preloaders.css?ver=1.0.0'
        type='text/css' media='all' />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <script type='text/javascript'
        src='/plugins/slider-revolution/revolution-addons/reveal/js/revolution.addon.revealer.min.js?ver=1.0.0'></script>
    <!-- PARTICLES ADD-ON FILES -->
    <link rel='stylesheet'
        href='/plugins/slider-revolution/revolution-addons/particles/css/revolution.addon.particles.css?ver=1.0.3'
        type='text/css' media='all' />
    <script type='text/javascript'
        src='/plugins/slider-revolution/revolution-addons/particles/js/revolution.addon.particles.min.js?ver=1.0.3'></script>

    <!-- CUSTOM CSS -->

    <link rel="stylesheet" type="text/css" href="/css/inspirit/inspirit.css">
    <link rel="stylesheet" type="text/css" href="/css/inspirit/ticket.css">

    <style type="text/css">
        #welcome_wrapper .tp-loader.spinner2 {
            background-color: #006dd2 !important;
        }
    </style>
    <style type="text/css">
        video::-webkit-media-controls-start-playback-button {
            display: none !important
        }

        .tc-gradient i:before {
            background: -webkit-linear-gradient(left, #5e05b1 0%, #09ceff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent
        }

        .tc-btnshadow {
            -webkit-box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.2) !important;
            -moz-box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.2) !important;
            box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.2) !important
        }
    </style>
    <style type="text/css">
        #welcome .uranus.tparrows {
            width: 50px;
            height: 50px;
            background: rgba(255, 255, 255, 0)
        }

        #welcome .uranus.tparrows:before {
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 40px;
            transition: all 0.3s;
            -webkit-transition: all 0.3s
        }

        #welcome .uranus.tparrows:hover:before {
            opacity: 0.75
        }
    </style>
    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="/plugins/slider-revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/plugins/slider-revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript"
        src="/plugins/slider-revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript"
        src="/plugins/slider-revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript"
        src="/plugins/slider-revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript"
        src="/plugins/slider-revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript"
        src="/plugins/slider-revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript"
        src="/plugins/slider-revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript"
        src="/plugins/slider-revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript"
        src="/plugins/slider-revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript"
        src="/plugins/slider-revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript">
        function setREVStartSize(e) {
            try {
                var i = jQuery(window).width(),
                    t = 9999,
                    r = 0,
                    n = 0,
                    l = 0,
                    f = 0,
                    s = 0,
                    h = 0;
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) {
                    f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e)
                }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) {
                    var u = (e.c.width(), jQuery(window).height());
                    if (void 0 != e.fullScreenOffsetContainer) {
                        var c = e.fullScreenOffsetContainer.split(",");
                        if (c) jQuery.each(c, function (e, i) {
                            u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u
                        }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0))
                    }
                    f = u
                } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight);
                e.c.closest(".rev_slider_wrapper").css({
                    height: f
                })
            } catch (d) {
                console.log("Failure at Presize of Slider:" + d)
            }
        };
    </script>
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Topbar -->
        <div id="topbar" class="topbar-fullwidth dark p-t-10" style="background-color: #181818;">
            <div class="container">
                <div class="row">
                    <% if(isLoggedIn) { %>
                        <div class="col-12" style="display: flex; align-items: flex-end; justify-content: flex-end">
                            <a class="btn btn-sm m-l-0 shadow" href="/go-portal" style="background-color: #1b2351;">
                                Go To Portal
                            </a>
                        </div>
                        <% } else { %>
                            <div class="col-12" style="display: flex; align-items: flex-end; justify-content: flex-end">
                                <button class="btn btn-sm shadow" data-target="#login-modal" data-toggle="modal"
                                    style="background-color: #1b2351;">Login</button>
                            </div>
                            <% } %>
                </div>
            </div>
        </div>
        <!-- end: Topbar -->
        <header id="header" data-fullwidth="true" data-transparent="true" data-responsive-fixed="true"
            class="header-mini dark">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/">
                            <img class="logo-default" src="/images/logos/esummit-white.png" alt="E-Cell-Logo">
                            <img class="logo-fixed" src="/images/logos/esummit_clean.png">
                        </a>
                    </div>
                    <!--End: Logo-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    <div id="mainMenu">
                        <div class="col-md-6 container">
                            <nav>
                                <ul>
                                    <li><a href="/">HOME</a></li>
                                    <li><a href="#speakers" class="scroll-to"> SPEAKERS</a></li>
                                    <li><a href="#access-pass" class="scroll-to">E-SUMMIT ACCESS PASS</a></li>
                                    <li><a href="#faq" class="scroll-to">FAQs</a></li>
                                    <li><a href="#footer" class="scroll-to">CONTACT</a></li>
                                    <li><a href="/sponsors" class="scroll-to">SPONSORS</a></li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- Header -->

        <!-- end: Header -->
        <!-- Revolution Slider -->
        <section id="slider">
            <div id="welcome_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="reveal-add-on36"
                data-source="gallery" style="background:#ffffff;padding:0px;">
                <!-- START REVOLUTION SLIDER 5.4.7.2 fullscreen mode -->
                <div id="welcome" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.7.2">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-index="rs-101" data-transition="fadethroughdark" data-slotamount="default"
                            data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                            data-easeout="default" data-masterspeed="default"
                            data-thumb="http://works.themepunch.com/revolution_5_3/wp-content/" data-rotate="0"
                            data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3=""
                            data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                            data-param10="" data-description="">

                            <img src="/plugins/slider-revolution/assets/images/dummy.png" alt=""
                                data-lazyload="/images/inspirit/without logo.png" data-bgposition="center center"
                                data-kenburns="on" data-duration="8000" data-ease="Power3.easeInOut"
                                data-scalestart="150" data-scaleend="100" data-rotatestart="0" data-rotateend="0"
                                data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0"
                                data-bgparallax="4" class="rev-slidebg" data-no-retina>


                            <div class="tp-caption  tp-shapewrapper " id="slide-101-layer-2"
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
                                data-basealign="slide" data-responsive_offset="off" data-responsive="off"
                                data-frames='[{"delay":10,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"opacity:0;","ease":"Power4.easeIn"}]'
                                data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 5;font-family:Open Sans;background:linear-gradient(180deg, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 100%);">
                            </div>


                            <!-- <div class="tp-caption  " id="slide-101-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['100,'100','80','80']" data-fontsize="['20','20','20','17']" data-lineheight="['30','30','25','22']" data-color="['rgba(255,255,255,0.75)','rgba(255,255,255,0.65)','rgba(255,255,255,0.65)','rgba(255,255,255,0.65)']" data-width="['640','481','360','260']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":900,"speed":2000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:1.1;sY:1.1;skX:0;skY:0;opacity:0;","color":"#000000","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","color":"#000000","to":"opacity:0;","ease":"nothing"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; min-width: 640px; max-width: 640px; white-space: normal; font-size: 20px; line-height: 30px; font-weight: 400; color: rgba(255,255,255,0.75); letter-spacing: px;font-family:Montserrat;"> Co-Sponsored by </div> -->
                            <!-- <div class="tp-cation tp-resizeme" data-thumb="/images/logos/esummit-white.png" id="slide-101-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-90','-90','-120','-140']" data-fontsize="['90','80','70','60']" data-lineheight="['90','80','70','60']" data-letterspacing="['-5','-5','-2','-3']" data-width="['800','none','360','260']" data-height="none" data-whitespace="['normal','nowrap','normal','normal']" data-type="img" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":900,"speed":2000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:1.1;sY:1.1;skX:0;skY:0;opacity:0;","color":"#000000","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","color":"#000000","to":"opacity:0;","ease":"nothing"}]' data-textAlign="['center','left','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[10,10,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 60; min-width: 800px; max-width: 800px; white-space: normal; font-size: 90px; line-height: 90px; font-weight: 600; color: #ffffff; letter-spacing: -5px;font-family:Montserrat;"><img id="" src="/images/logos/esummit-white.png"></div> -->
                            <!-- <div><img src="/images/logos/esummit-white.png" alt="" style="width: 10%;"></div> -->

                            <div class="tp-caption  " id="" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['0','0','0','0']" data-responsive="on" data-whitespace="nowrap"
                                data-type="image" data-responsive_offset="on"
                                data-frames='[{"from":"y:50px;sX:1;sY:1;opacity:0;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index: 6;  ">
                                <img id="mainlogo" src="/images/logos/Integrated Logo-Black.png">
                            </div>

                            <!-- <div class="tp-caption  " id=""
                            
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                       
                       data-responsive="on"
                        data-whitespace="nowrap" data-type="image" data-responsive_offset="on"
                        data-frames='[{"from":"y:50px;sX:1;sY:1;opacity:0;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                        data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        style="z-index: 7;  ">
                        <img id="cosponsorlogo" src="/images/inspirit/2.png"  >
                    </div> -->

                            <a class="tp-caption rev-btn   tc-btnshadow tp-rs-menulink scroll-to" href="#access-pass"
                                target="_blank" id="slide-101-layer-12" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['350','140','330','300']" data-lineheight="['60','60','50','50']"
                                data-width="['340','340','300','none']" data-height="none" data-whitespace="nowrap"
                                data-type="button" data-actions='' data-responsive_offset="off" data-responsive="off"
                                data-frames='[{"delay":900,"speed":2000,"frame":"0","from":"x:-50px;z:0;rX:0;rY:0;rZ:0;sX:1.1;sY:1.1;skX:0;skY:0;opacity:0;fbr:100;","bgcolor":"#000000","to":"o:1;fbr:100;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","bgcolor":"#000000","to":"opacity:0;fbr:100;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"150","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;fbr:90%;","style":"c:rgba(255,255,255,1);"}]'
                                data-textAlign="['center','center','center','inherit']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[50,50,20,20]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[50,50,20,20]"
                                style="z-index: 8; min-width: 340px; max-width: 340px; white-space: nowrap; font-size: 17px; line-height: 60px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: px;font-family:Montserrat;background-color:#1b2351;border-radius:30px 30px 30px 30px;outline:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;"><i
                                    class="fas fa-ticket-alt" style="font-size:17px;margin-right:5px;"></i> Get your
                                access pass now! </a>


                        </li>

                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>
            </div><!-- END REVOLUTION SLIDER -->

            <script type="text/javascript" src="/js/inspirit/inspirit1.js"></script>

        </section>
        <!-- end: Revolution Slider-->
        <!-- Footer -->


        <section class="no-padding equalize" data-equalize-item=".text-box">
            <div class="row col-no-margin">
                <!--Box 1-->
                <div class="col-lg-4 col-md-4" style="background-color:#323d79; max-height: 275px;">
                    <div class="text-box">
                        <a href="#"> <i class="fas">18+</i>
                            <h3>Speakers</h3>
                            <!-- <p>Ispendisse consectetur fringilla luctus usce id mi diam, non ornare.</p> -->
                        </a>
                    </div>
                </div>
                <!--End: Box 1-->
                <!--Box 2-->
                <div class="col-lg-4 col-md-4" style="background-color: #2b386e; max-height: 275px;">
                    <div class="text-box">
                        <a href="#"> <i class="fas">10+</i>
                            <h3>Talks and Panel Discussions</h3>
                            <!-- <p>Ispendisse consectetur fringilla luctus usce id mi diam, non ornare.</p> -->
                        </a>
                    </div>
                </div>
                <!--End: Box 2-->
                <!--Box 3-->
                <div class="col-lg-4 col-md-4" style="background-color: #323d79; max-height: 275px;">
                    <div class="text-box">
                        <a href="#"> <i class="fas fa-podcast"></i>
                            <h3>E Shows</h3>
                            <!-- <p>Comedy Night with Sapan Verma</p> -->
                        </a>
                    </div>
                </div>
                <!--End: Box 3-->
                <!--Box 4-->
                <div class="col-lg-4 col-md-4" style="background-color: #2b386e;">
                    <div class="text-box">
                        <a style="transform: translateY(-30px);"> <i class="fa fa-lightbulb"
                                style="transform: translateY(-30px);"></i>
                            <h3 style="transform: translateY(-30px);">Idea Validation Meetups </h3>
                            <p style="transform: translateY(-30px);">Get your startup ideas validated from experts!

                            </p>
                        </a>
                        <a class="btn " data-target="#modal2" data-toggle="modal" href="#"
                            style="z-index: 25; background-color: #1b2351; transform: translateY(-30px);">Know more</a>
                    </div>
                </div>
                <!--End: Box 4-->
                <div class="col-lg-4 col-md-4" style="background-color: #323d79;">
                    <div class="text-box">
                        <a> <i class="fa fa-handshake" style="transform: translateY(-30px);"></i>
                            <h3 style="transform: translateY(-30px);"> Networking 101</h3>
                            <p style="transform: translateY(-30px);"> Network with 3k+ budding entrepreneurs
                            </p>
                        </a>
                        <a class="btn" data-target="#modal" data-toggle="modal" href="#"
                            style="z-index: 25;background-color: #1b2351 ; transform: translateY(-30px);">Know more</a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-4" style="background-color: #2b386e;">
                    <div class="text-box">
                        <a> <i class="fa fa-certificate" style="transform: translateY(-30px);"></i>
                            <h3 style="transform: translateY(-30px);"> E-Certificate</h3>
                            <p style="transform: translateY(-30px);"> E-Certificate will be provided by E-Cell IIT
                                Madras to all participants who attend all lectures of the Inspirit lecture series.
                            </p>
                        </a>
                        <!-- <a class="btn" data-target="#modal" data-toggle="modal" href="#" style="z-index: 25;background-color: #1b2351 ; transform: translateY(-30px);">Know more</a> -->

                    </div>
                </div>
            </div>
            <div class="shape-divider m-t-70" data-style="17" style="z-index: 0;" data-color=" #ffffff"></div>
        </section>
        <div class="modal fade" id="modal" tabindex="-1" role="modal" aria-labelledby="modal-label" aria-hidden="true"
            style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-label">Networking 101</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Interact will 3k+ aspiring entrepreneurs live to level up your knowledge through our
                                    networking lounges and connect 1:1 in speed networking based on your profile.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-b" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-b">Save Changes</button> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal2" tabindex="-1" role="modal" aria-labelledby="modal-label" aria-hidden="true"
            style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-label">IDEA VALIDATION MEETUP</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Idea Validation Meetup provides a perfect stage for you if you want to turn your
                                    ideas into an entrepreneurial venture. It provides closed-door mentoring
                                    opportunities with the best names in the industry. IVM will help participants
                                    validate their ideas and equip them with a roadmap for their idea.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-b" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-b">Save Changes</button> -->
                    </div>
                </div>
            </div>
        </div>
        <section id="page-content" style="background-color: #ffffff">
            <div class="container " style="min-height: 130px;">
                <!-- <div class="row">
                    <div class="content col-lg-12 ">       
                        <div class="row">
                            <div class="col-lg-3 mb-4">
                               
                            </div>
                            <div class="col-lg-6" style="z-index: 25;">

                                <div class="card text-center">
                                    
                                    <div class="card-header">
                                        Featured
                                    </div>
                                    <img class="card-img-top" src="/images/inspirit/speakers/SanjeevBikhchandani.jfif" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title"> Comedy Night   </h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                    <div class="card-footer text-muted">
                                        2 days ago
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-4">
                        </div>
                       
                        
                     
                        
                    </div>
                    
                </div>
            </div> -->
                <div class="shape-divider" data-style="17" data-color="#181818" style="z-index: 0;"></div>
        </section>


        <section class="background-dark" id="speakers">
            <div class="container" style="margin-bottom: 150px;">


                <!--Team members shadow-->
                <div class="heading-text heading-line text-center text-light">
                    <div class="text-center ">
                        <img src="/images/inspirit/inspirit_white.png" alt="" style="width: 100%;  max-width: 200px;" />
                    </div>
                    <h4>Speakers</h4>
                </div>
                <div class="row team-members team-members-shadow m-b-40">
                    <div class="col-6 col-lg-3 col-md-6 col-sm-6" data-animate="zoomIn">
                        <div class="team-member">
                            <div class="team-image">
                                <img src="/images/inspirit/speakers/Sanjeev2.jpg">
                            </div>
                            <div class="team-desc">
                                <h3>Sanjeev Bikhchandani</h3>
                                <span>Founder,<br> Infoedge<br></span>

                                <div class="align-center">
                                    <a class="btn btn-xs btn-slide btn-light"
                                        href="https://www.linkedin.com/in/sanjeev-bikhchandani-501261/?originalSubdomain=in">
                                        <i class="fab fa-linkedin"></i>
                                        <span>LinkedIn</span></a>
                                    <a class="btn btn-xs btn-slide btn-light" href="https://twitter.com/sbikh?lang=en"
                                        data-width="100">
                                        <i class="fab fa-twitter"></i>
                                        <span>Twitter</span></a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 col-md-6 col-sm-6" data-animate="zoomIn">
                        <div class="team-member">
                            <div class="team-image">
                                <img src="/images/inspirit/speakers/Rana Daggubati.jpg">
                            </div>
                            <div class="team-desc">
                                <h3>Rana Daggubati</h3>
                                <span>Actor &<br> Entrepreneur<br></span>

                                <div class="align-center">

                                    <a class="btn btn-xs btn-slide btn-light" href="https://twitter.com/ranadaggubati"
                                        data-width="100">
                                        <i class="fab fa-twitter"></i>
                                        <span>Twitter</span></a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 col-md-6 col-sm-6 " data-animate="zoomIn" style="z-index: 20;">
                        <div class="team-member">
                            <div class="team-image">
                                <img src="/images/inspirit/speakers/Deep Kalra final.jpg">
                            </div>
                            <div class="team-desc">
                                <h3>Deep Kalra</h3>
                                <span>Founder,<br> MakeMyTrip<br></span>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-slide btn-light"
                                        href="https://www.linkedin.com/in/deepkalra/?originalSubdomain=in">
                                        <i class="fab fa-linkedin"></i>
                                        <span>LinkedIn</span></a>
                                    <a class="btn btn-xs btn-slide btn-light"
                                        href="https://twitter.com/deepkalra?lang=en" data-width="100">
                                        <i class="fab fa-twitter"></i>
                                        <span>Twitter</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 col-md-6 col-sm-6" data-animate="zoomIn">
                        <div class="team-member">
                            <div class="team-image">
                                <img src="/images/inspirit/speakers/Yashish-Dahiya.jpg">
                            </div>
                            <div class="team-desc">
                                <h3>Yashish Dahiya</h3>
                                <span>Co-founder,<br> Policybazaar.com<br></span>

                                <div class="align-center">
                                    <!-- <a class="btn btn-xs btn-slide btn-light" href="#">
                                    <i class="fab fa-linkedin"></i>
                                    <span>LinkedIn</span></a>
                                <a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row team-members team-members-shadow m-b-40">
                    <div class="col-6 col-lg-3 col-md-6 col-sm-6" data-animate="zoomIn">
                        <div class="team-member">
                            <div class="team-image">
                                <img src="/images/inspirit/speakers/Mukesh.jpg">
                            </div>
                            <div class="team-desc">
                                <h3>Mukesh Bansal</h3>
                                <span>Co-founder, Cure.fit<br>
                                    Co-founder, Myntra<br>
                                </span>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-slide btn-light"
                                        href="https://www.linkedin.com/in/mubansal/">
                                        <i class="fab fa-linkedin"></i>
                                        <span>LinkedIn</span></a>
                                    <a class="btn btn-xs btn-slide btn-light"
                                        href="https://twitter.com/mukeshbansal06?lang=en" data-width="100">
                                        <i class="fab fa-twitter"></i>
                                        <span>Twitter</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 col-md-6 col-sm-6" data-animate="zoomIn">
                        <div class="team-member">
                            <div class="team-image">
                                <img src="/images/inspirit/speakers/Mr.-Lalit-Keshre.jpg">
                            </div>
                            <div class="team-desc">
                                <h3>Lalit Keshre</h3>
                                <span>Co-founder,<br> Groww<br></span>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-slide btn-light"
                                        href="https://www.linkedin.com/in/lalitkeshre/?originalSubdomain=in">
                                        <i class="fab fa-linkedin"></i>
                                        <span>LinkedIn</span></a>
                                    <a class="btn btn-xs btn-slide btn-light" href="https://twitter.com/lkeshre"
                                        data-width="100">
                                        <i class="fab fa-twitter"></i>
                                        <span>Twitter</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 col-md-6 col-sm-6 " data-animate="zoomIn">
                        <div class="team-member">
                            <div class="team-image">
                                <img src="/images/inspirit/speakers/Varsha_Tagare2018.jpg">
                            </div>
                            <div class="team-desc">
                                <h3>Varsha Tagare</h3>
                                <span>Managing Director, <br>
                                    Qualcomm Ventures<br></span>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-slide btn-light"
                                        href="https://www.linkedin.com/in/varshatagare/">
                                        <i class="fab fa-linkedin"></i>
                                        <span>LinkedIn</span></a>
                                    <!-- <a class="btn btn-xs btn-slide btn-light" href="https://twitter.com/sbikh?lang=en" data-width="100">
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 col-md-6 col-sm-6" data-animate="zoomIn">
                        <div class="team-member">
                            <div class="team-image">
                                <img src="/images/inspirit/speakers/ankita.jpeg">
                            </div>
                            <div class="team-desc">
                                <h3>Ankita Vashistha</h3>
                                <span>Founder,<br>Saha Fund<br></span>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-slide btn-light"
                                        href="https://www.linkedin.com/in/ankitavashistha/">
                                        <i class="fab fa-linkedin"></i>
                                        <span>LinkedIn</span></a>
                                    <a class="btn btn-xs btn-slide btn-light" href="https://twitter.com/vashisthaankita"
                                        data-width="100">
                                        <i class="fab fa-twitter"></i>
                                        <span>Twitter</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


          
            <div class="row team-members team-members-shadow m-b-40">

                <!-- <div class="col-6 col-lg-3 col-md-0 col-sm-0">
                    
            </div> -->

                <div class="col-6 col-lg-3 col-md-6 col-sm-6" data-animate="zoomIn">
                    <div class="team-member">
                        <div class="team-image">
                            <img src="/images/inspirit/speakers/Gaurav Agarwal.png">
                        </div>
                        <div class="team-desc">
                            <h3>Gaurav Agarwal</h3>
                            <span>Co-founder,<br> 1mg<br></span>
                            <div class="align-center">
                                <a class="btn btn-xs btn-slide btn-light"
                                    href="https://www.linkedin.com/in/agarwalga/?originalSubdomain=in">
                                    <i class="fab fa-linkedin"></i>
                                    <span>LinkedIn</span></a>
                                <a class="btn btn-xs btn-slide btn-light"
                                    href="https://twitter.com/agarwal_gaurav?lang=en" data-width="100">
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6 col-sm-6" data-animate="zoomIn">
                    <div class="team-member">
                        <div class="team-image">
                            <img src="/images/inspirit/speakers/Prasad Vanga.jfif">
                        </div>
                        <div class="team-desc">
                            <h3>Prasad Vanga</h3>
                            <span>Founder & CEO,<br> Anthill Ventures<br></span>
                            <div class="align-center">
                                <a class="btn btn-xs btn-slide btn-light"
                                    href="https://www.linkedin.com/in/prasadvanga/">
                                    <i class="fab fa-linkedin"></i>
                                    <span>LinkedIn</span></a>
                                <a class="btn btn-xs btn-slide btn-light"
                                    href="https://twitter.com/prasadvanga3?lang=en" data-width="100">
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6 col-sm-6" data-animate="zoomIn">
                    <div class="team-member">
                        <div class="team-image">
                            <img src="/images/inspirit/speakers/Awais Ahmed.jfif">
                        </div>
                        <div class="team-desc">
                            <h3>Awais Ahmed</h3>
                            <span>Co-founder and CEO,<br> Pixxel<br></span>
                            <div class="align-center">
                                <a class="btn btn-xs btn-slide btn-light"
                                    href="https://www.linkedin.com/in/awaisahmedna/?originalSubdomain=in">
                                    <i class="fab fa-linkedin"></i>
                                    <span>LinkedIn</span></a>
                                <a class="btn btn-xs btn-slide btn-light" href="https://twitter.com/awaisahmedna"
                                    data-width="100">
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6 col-sm-6" style="z-index: 20;" data-animate="zoomIn">
                    <div class="team-member">
                        <div class="team-image">
                            <img src="/images/inspirit/speakers/Rohan Ganapathy.jfif">
                        </div>
                        <div class="team-desc">
                            <h3>Rohan Ganapathy</h3>
                            <span>Co-founder and CEO,<br> Bellatrix Aerospace<br></span>
                            <div class="align-center">
                                <a class="btn btn-xs btn-slide btn-light"
                                    href="https://www.linkedin.com/in/rohanmganapathy/?originalSubdomain=in">
                                    <i class="fab fa-linkedin"></i>
                                    <span>LinkedIn</span></a>
                                <a class="btn btn-xs btn-slide btn-light" href="https://twitter.com/rohanooty?lang=en"
                                    data-width="100">
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row team-members team-members-shadow m-b-40">
                <div class=" col-3 col-lg-4 col-md-3 col-sm-3" ></div>
                <div class="col-6 col-lg-4 col-md-6 col-sm-6" style="z-index: 20;" data-animate="zoomIn">
                    <div class="team-member">
                        <div class="team-image">
                            <img src="/images/inspirit/speakers/Srinath.jfif">
                        </div>
                        <div class="team-desc">
                            <h3>Srinath Ravichandran</h3>
                            <span>Co-founder and CEO, <br>Agnikul Cosmos<br></span>
                            <div class="align-center">
                                <a class="btn btn-xs btn-slide btn-light"
                                    href="https://www.linkedin.com/in/srinath-ravichandran-09679a7/?originalSubdomain=in">
                                    <i class="fab fa-linkedin"></i>
                                    <span>LinkedIn</span></a>
                                <a class="btn btn-xs btn-slide btn-light" href="https://twitter.com/srinathr155"
                                    data-width="100">
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 col-lg-4 col-md-3 col-sm-3"></div>
            </div>
            </div>
           
    <!-- <div class="col-6 col-lg-3 col-md-0 col-sm-0">
               
            </div> -->
    


    <!-- <div class="row team-members team-members-shadow m-b-40" style="z-index: 20;">
              
               
                
                
            </div> -->

    <!--END: Team members shadow-->



    <div class="shape-divider" data-style="17" style="z-index: 0;background-color: #7341B4;" data-color="#ffffff"></div>

    </section>

    <section id="page-content" style="background-color: #ffffff">
        <div class="container " style="min-height: 130px;">
            <!-- <div class="row">
                <div class="content col-lg-12 ">       
                    <div class="row">
                        <div class="col-lg-3 mb-4">
                           
                        </div>
                        <div class="col-lg-6" style="z-index: 25;">

                            <div class="card text-center">
                                
                                <div class="card-header">
                                    Featured
                                </div>
                                <img class="card-img-top" src="/images/inspirit/speakers/SanjeevBikhchandani.jfif" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title"> Comedy Night   </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to
                                        additional content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                                <div class="card-footer text-muted">
                                    2 days ago
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 mb-4">
                    </div>
                   
                    
                 
                    
                </div>
                
            </div>
        </div> -->
            <div class="shape-divider" data-style="17" data-color="#181818" style="z-index: 0;"></div>
    </section>
    <section style="background-color: #181818" id="access-pass" style="overflow: visible;">

        <div class="heading-text heading-line text-center text-light m-b-50"
            style="transform: translateY(-50px);overflow: visible; ">
            <div class="text-center ">
                <img src="/images/logos/esummit-white.png" alt=""
                    style="width: 100%;  max-width: 200px; z-index: 25;" />
            </div>
            <h4>Access Pass</h4>
        </div>


        <div class="w-table m-b-100" style="transform: translateY(-100px);">
            <div class="w-table-cell">

                <div class="w-container" style="padding: 0%  ; margin: 0%; transform: translateY(70px); "
                    data-animate="zoomInUp">

                    <div class="w-card color-blue" id="onlyondesktop" style="width:600px;">


                        <div class="card-content">
                            <div class="w-item">
                                <span>10+ </span> lectures
                            </div>

                            <div class="w-item">
                                E-Show
                            </div>
                            <div class="w-item">
                                Idea Validation Meetups
                            </div>


                            <div class="w-item">
                                Networking 101
                            </div>
                            <div class="w-item">
                                Free LinkedIn Workshop
                            </div>
                            <div class="w-item">
                                Exciting coupons from Sponsors
                            </div>
                        </div>
                    </div>

                    <!-- <div class="w-card color-blue">
                      <div class="card-header">
                        <div class="w-title">
                          Professional
                        </div>
                        <div class="w-price">
                          $29.99
                        </div>
                        <div class="container-button">
                          <div class="w-button">
                            Sign up
                          </div>
                        </div>
                      </div>
                      <div class="card-content">
                        <div class="w-item">
                          <span>5GB </span>Disk Space 
                        </div>
                        <div class="w-item">
                          <span>50GB </span>Monthly Bandwidth 
                        </div>
                        <div class="w-item">
                          <span>10 </span>Email Accounts 
                        </div>
                      </div>
                    </div> -->
                </div>
                <div class="w-container">

                    <div class="w-card color-violet" data-animate="zoomInUp">

                        <div class="card-header">
                            <div class="w-title">
                                Single
                            </div>
                            <div class="w-price"
                                style="font-family: 'Roboto', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                                ₹199
                            </div>
                            <div class="container-button">

                                    <a href="#">
                                        <div class="w-button disabled">
                                            <i class="fas fa-ticket-alt"
                                                style="font-size:34px;margin-right:5px;"></i>Registrations closed
                                        </div>
                                    </a>


                            </div>
                        </div>
                        <div class="card-content" id="onlyonmobile1">
                            <div class="w-item">
                                <span>10+ </span> lectures
                            </div>

                            <div class="w-item">
                                E-Show
                            </div>
                            <div class="w-item">
                                Idea Validation Meetups
                            </div>


                            <div class="w-item">
                                Networking 101
                            </div>
                            <div class="w-item">
                                Free LinkedIn Workshop
                            </div>
                            <div class="w-item">
                                Exciting coupons from Sponsors
                            </div>
                        </div>
                    </div>
                    <div class="w-card color-green" data-animate="zoomInUp">
                        <div class="card-header">
                            <div class="w-title">
                                Team of 3
                            </div>
                            <div class="w-price"
                                style="font-family: 'Roboto', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                                <del>₹597</del> <ins>₹499</ins>
                            </div>
                            <div class="container-button">

                                <a href="#">
                                    <div class="w-button disabled">
                                        <i class="fas fa-ticket-alt"
                                            style="font-size:34px;margin-right:5px;"></i>Registrations closed
                                    </div>
                                </a>


                            </div>
                        </div>
                        <div class="card-content" id="onlyonmobile2">
                            <div class="w-item">
                                <span>10+ </span> lectures
                            </div>

                            <div class="w-item">
                                E-Show
                            </div>
                            <div class="w-item">
                                Idea Validation Meetups
                            </div>


                            <div class="w-item">
                                Networking 101
                            </div>
                            <div class="w-item">
                                Free LinkedIn Workshop
                            </div>
                            <div class="w-item">
                                Exciting coupons from Sponsors
                            </div>
                        </div>
                    </div>
                    <!-- <div class="w-card color-blue">
                  <div class="card-header">
                    <div class="w-title">
                      Professional
                    </div>
                    <div class="w-price">
                      $29.99
                    </div>
                    <div class="container-button">
                      <div class="w-button">
                        Sign up
                      </div>
                    </div>
                  </div>
                  <div class="card-content">
                    <div class="w-item">
                      <span>5GB </span>Disk Space 
                    </div>
                    <div class="w-item">
                      <span>50GB </span>Monthly Bandwidth 
                    </div>
                    <div class="w-item">
                      <span>10 </span>Email Accounts 
                    </div>
                  </div>
                </div> -->
                </div>
            </div>
        </div>
        <!-- <script type="text/javascript" src="/js/inspirit/inspirit2.js"></script> -->
        <div class="shape-divider" data-style="17" style="z-index: 0;"></div>
    </section>



    <!-- Info Modal -->
    <div class="modal fade " id="info-modal" tabindex="-1" role="modal" aria-labelledby="info-modal" aria-hidden="true">
        <div class="modal-dialog background-dark">
            <div class="modal-content background-dark">
                <div class="modal-header text-light">
                    <h4 class="modal-title">E-Summit Register</h4>
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                </div>
                <div class="modal-body text-center text-light" id="login-form-modal-body">
                    <h4>You need to be registered/logged in to E-Summit to buy the E-Summit Access Pass</h4>
                    <a class="btn btn-sm" data-toggle="modal" type="button" data-dismiss="modal"
                        data-target="#login-modal" style="color: #ffffff; background-color: #1b2351;">Log In</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end: Info Modal -->

    <!-- Register Modal -->
    <div class="modal fade " id="register-modal" tabindex="-1" role="modal" aria-labelledby="register-modal"
        aria-hidden="true">
        <div class="modal-dialog modal-lg background-dark">
            <div class="modal-content background-dark">
                <div class="modal-header text-light">
                    <h4 class="modal-title">E-Summit Registration</h4>
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                </div>
                <div class="modal-body background-dark text-light" id="register-form-modal-body">
                    <form id="register-form text-light" class="form-validate">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name">Name <span class="text-danger">*</span> </label>
                                <input type="text" class="form-control" name="name" placeholder="Enter your Name"
                                    required>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="email">Email address <span class="text-danger">*</span></label>
                                <input type="email" class="form-control" name="email" placeholder="Enter your email"
                                    required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="telephone">Contact No. <span class="text-danger">*</span></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend text-dark">
                                        <span class="input-group-text " id="prefix">+91</span>
                                    </div>
                                    <input class="form-control" type="phone" name="phone"
                                        placeholder="Enter your Telephone number" aria-describedby="prefix" required>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="password">Password <span class="text-danger">*</span></label>
                                <div class="input-group show-hide-password">
                                    <input id="password" class="form-control" name="password"
                                        placeholder="Enter password" type="password" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text  text-dark"><i class="icon-eye-off"
                                                aria-hidden="true" style="cursor: pointer;"></i></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="instituteName">Institute name <span class="text-danger">*</span></label>
                                <input type="text" name="instituteName" class="form-control"
                                    placeholder="Enter your Institute name" required>
                            </div>
                            <div class="col-md-4 form-group justify-content-end">
                                <label for="startupOwner">Do you have a startup? <span
                                        class="text-danger">*</span></label>
                                <input id="yes" name="startupOwner" value="yes" type="radio">
                                <label style="display: inline;" for="yes">Yes</label>
                                <br>
                                <input id="no" name="startupOwner" value="no" type="radio">
                                <label style="display: inline;" for="no">No</label>
                            </div>
                        </div>
                        <div class="row" class="justify-content-center text-center">
                            <div class="col-md-3 d-none d-md-block"></div>
                            <div class="col-12 col-md-6 text-center p-t-10 text-light">
                                <button id="register-button" type="submit" class="btn btn-block">Register</button>
                                <span>
                                    Already registered? <a href="#" data-target="#login-modal" data-dismiss="modal"
                                        data-toggle="modal">Log In</a>
                                </span>
                            </div>
                        </div>
                    </form>
                    <form id="verification-form" class="hidden">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <span>A mail has been sent.</span>
                                <br>
                                <label for="code">Verification Code<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="code"
                                    placeholder="Enter the verification code." required>
                            </div>
                            <span class="text-danger hidden">
                                The Verification Code is incorrect. Please input a correct code.
                            </span>
                        </div>
                        <button id="verify-button" type="submit text-right" class="btn"
                            style="background-color: #1b2351;"">Verify</button>
            </form>
        </div>
    </div>
</div>
</div>
<!-- end: Register Modal -->
<!-- Login Modal -->
<div class=" modal fade" id="login-modal" tabindex="-1" role="modal" aria-labelledby="login-modal" aria-hidden="true">
                            <div class="modal-dialog modal-md background-dark">
                                <div class="modal-content background-dark">
                                    <div class="modal-header text-light">
                                        <h4 class="modal-title">E-Summit Login</h4>
                                        <button aria-hidden="true" data-dismiss="modal" class="close"
                                            type="button">×</button>
                                    </div>
                                    <div class="modal-body background-dark text-light" id="login-form-modal-body">
                                        <form id="login-form text-light" class="form-validate">
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="summitID">E-Summit ID<span
                                                            class="text-danger">*</span></label>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend text-dark">
                                                            <span class="input-group-text" id="prefix">ES21</span>
                                                        </div>
                                                        <input type="text" class="form-control" name="summitID"
                                                            placeholder="Enter your Summit ID" required>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12 m-b-0">
                                                    <label for="password">Password <span
                                                            class="text-danger">*</span></label>
                                                    <div class="input-group show-hide-password">
                                                        <input id="login-password" class="form-control" name="password"
                                                            placeholder="Enter password" type="password" required>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text text-dark"><i
                                                                    class="icon-eye-off" aria-hidden="true"
                                                                    style="cursor: pointer;"></i></span>
                                                        </div>
                                                    </div>
                                                    <span class="text-danger" id="password-incorrect"
                                                        style="display: none;">
                                                        The password is incorrect. Please input the correct password.
                                                    </span>
                                                    <a href="https://esummitiitm.org/portal/forgot-password"
                                                        target="_blank" rel="noopener noreferrer">Forgot
                                                        Password?</a>
                                                </div>
                                            </div>
                                            <div class="row" class="justify-content-center text-center">
                                                <div class="col-md-3 d-none d-md-block"></div>
                                                <div class="col-12 col-md-6 text-center p-t-10">
                                                    <button id="login-button" type="submit"
                                                        class="btn btn-block">Login</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                </div>
                <!-- end: Login Modal -->
                <section id="faq" class=" fullscreen p-t-0 p-b-100 " style="z-index: 60;">

                    <div class="reverse-shape-divider shape-divider" data-style="17" style="z-index: 0;"></div>
                    <div class="container p-t-0 m-t-0">
                        <div class="heading-text heading-line  text-center">
                            <h4>FAQs</h4>
                        </div>
                        <div class="accordion accordion-shadow">
                            <div class="ac-item">
                                <h5 class="ac-title font-weight-400"><i class="fa fa-question-circle"></i>What events
                                    are included in All E-Summit Access Pass?</h5>
                                <div class="ac-content">
                                    <p>All E-Summit Access Pass holders get access to Inspirit Lecture Series, Comedy
                                        Night, Idea Validation Meetups and 1:1 Networking lounges.
                                    </p>
                                </div>
                            </div>
                            <div class="ac-item">
                                <h5 class="ac-title font-weight-400"><i class="fa fa-question-circle"></i>Do finalists
                                    of events in Youth Conclave, Innovators Conclave, Startup Conclave have to buy All
                                    E-Summit Access Pass?</h5>
                                <div class="ac-content">
                                    <p>No. Event finalists also get free access to Inspirit Lecture Series, Comedy
                                        Night, Idea Validation Meetups and 1:1 Networking lounges.
                                    </p>
                                </div>
                            </div>
                            <!-- <div class="ac-item">
          <h5 class="ac-title font-weight-400"><i class="fa fa-question-circle"></i>
            Do IIT Madras students have to purchase All E-Summit Access Passes?
          </h5>
          <div class="ac-content">
            <p>Limited free E-Summit Access Passes will be opened for IIT Madras students. Students are supposed to register using their institute smail id and apply coupon code (will be sent through smail) to avail free passes. </p>
          </div>
        </div> -->

                            <div class="ac-item" style="z-index: 60 !important;">
                                <h5 class="ac-title font-weight-400"><i class="fa fa-question-circle"></i>Where can I
                                    find the schedule of all events happening in E-Summit’21?</h5>
                                <div class="ac-content">
                                    <p><a href="https://www.linkedin.com/company/e-cell-iitm/" target="_blank">Click
                                            here.</a> Follow our social media handles to keep track of all important
                                        updates!</p>

                                </div>
                            </div>
                            <!-- <div class="ac-item">
          <h5 class="ac-title font-weight-400"><i class="fa fa-question-circle"></i>
            What is the Progress Report?
          </h5>
          <div class="ac-content">
            <p>It is a document to be submitted after the main sessions and after one-on-one mentoring
              that details
              the work done by the startup and key business elements. The exact list of things to be
              mentioned will be
              shared in the introductory session.</p>
          </div>
        </div> -->
                            <!-- <div class="ac-item">
          <h5 class="ac-title font-weight-400"><i class="fa fa-question-circle"></i>
            When will the one-on-one mentoring happen?
          </h5>
          <div class="ac-content">
            <p>Each startup will be allotted a mentor from 13th February to 13th March. Mentoring
              happens in short
              spells at the mutual convenience of the team and the mentor via any online medium.</p>
          </div>
        </div> -->
                            <!-- <div class="ac-item">
          <h5 class="ac-title font-weight-400"><i class="fa fa-question-circle"></i>
            How many teams will be selected after the Report Submission?
          </h5>
          <div class="ac-content">
            <p>The second shortlisting has no fixed number of teams to select. If all the teams show
              satisfactory
              progress and sustained efforts, all teams will proceed to the Finale.</p>
          </div>
        </div> -->
                            <!-- <div class="ac-item">
          <h5 class="ac-title font-weight-400"><i class="fa fa-question-circle"></i>
            When will the prize money be given to the winners?
          </h5>
          <div class="ac-content">
            <p>Prize money will be given lumpsum to the winners in the few days after declaration of
              results.</p>
          </div>
        </div> -->
                        </div>
                    </div>
                    <div class="shape-divider" data-style="17" data-color="#181818" style="z-index: 0;"></div>
                </section>

                <footer id="footer" class="dark">
                    <div id="particles-bubble" class="particles" style="opacity: 0.3"></div>

                    <div class="footer-content p-b-20">
                        <div class="container">
                            <div class="row gap-y">
                                <div class="col-lg-2 p-l-30 d-none d-xl-block d-lg-block"></div>
                                <div class="col-12 col-lg-2 col-md-6"
                                    style="text-align: center; width: 100%; padding-bottom: 20px">
                                    <a href="#"><img src="/images/logos/e-cell_logo_white.png" alt="logo"
                                            style="width: 200px" /></a>
                                </div>
                                <div class="col-lg-1 d-none d-xl-block d-lg-block"></div>
                                <div class="footer-m-fix col-12 col-md-6 col-lg-3 text-center text-light">
                                    <!-- Footer widget area 1 -->
                                    <h4>Contact us</h4>
                                    <div class="widget m-b-0 m-l-0">
                                        <ul class="list" style="font-size: 1rem; word-wrap: none">
                                            <li>
                                                +91 9871341963
                                                <i class="fa fa-phone" style="
                                            -webkit-transform: scaleX(-1);
                                            transform: scaleX(-1);
                                        "></i>
                                            </li>
                                            <li>
                                                <a href="mailto:sr_ecell@smail.iitm.ac.in">
                                                    sr_ecell@smail.iitm.ac.in
                                                    <i class="fa fa-envelope d-lg-none"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- end: Footer widget area 1 -->
                                </div>

                                <div class="footer-m-fix col-12 col-md-6 col-lg-3 text-center m-t-70">
                                    <!-- Social icons -->
                                    <h4>We are social</h4>
                                    <div class="social-icons social-icons-colored social-icons-rounded text-center">
                                        <ul>
                                            <li class="social-facebook">
                                                <a href="https://www.facebook.com/ECELLIITM/">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li class="social-instagram">
                                                <a href="https://www.instagram.com/ecell_iitm/?hl=en">
                                                    <i class="fab fa-instagram"></i>
                                                </a>
                                            </li>
                                            <li class="social-linkedin">
                                                <a
                                                    href="https://www.linkedin.com/company/e-cell-iitm/?originalSubdomain=in">
                                                    <i class="fab fa-linkedin"></i>
                                                </a>
                                            </li>
                                            <li class="social-youtube">
                                                <a href="https://www.youtube.com/channel/UCtPazFT8VSfAeREcgag4zMw">
                                                    <i class="fab fa-youtube"></i>
                                                </a>
                                            </li>
                                            <li class="social-twitter">
                                                <a href="https://twitter.com/ecelliitm">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="copyright-content p-t-20 p-b-20">
                        <div class="container">
                            <div class="row h5">
                                <div class="col-lg-6">
                                    <div class="d-none d-xl-block d-lg-block">
                                        &copy;Developed by
                                        <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                        <br />
                                        All Rights Reserved.
                                    </div>
                                    <div class="d-block d-lg-none text-center">
                                        &copy;Developed by
                                        <br />
                                        <strong>Web Operations | E-Cell | IIT Madras.</strong>
                                        <br />
                                        All Rights Reserved.
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-none d-xl-block d-lg-block">
                                        <span>For issues related to the website, contact:</span>
                                        <div class="row">
                                            <div><a href="https://www.linkedin.com/in/ashish-kumar-shroti/"
                                                    style="color: Aquamarine! important">
                                                    Ashish Shroti</a> <i class="fab fa-whatsapp"></i> : +91 9983321407
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-block d-lg-none text-center">
                                        <br />
                                        <span>For issues related to the website, contact:</span>
                                        <div><a href="https://www.linkedin.com/in/ashish-kumar-shroti/"
                                                style="color: Aquamarine! important">
                                                Ashish Shroti</a> <i class="fab fa-whatsapp"></i> : +91 9983321407</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end: Footer -->
            </div>
            <!-- end: Body Inner -->
            <!-- Scroll top -->
            <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
            <!--Plugins-->
            <script src="/js/plugins.js"></script>
            <!--Template functions-->
            <script src="/js/functions.js"></script>
            <script src="/js/homepage/register-login.js"></script>

            <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
</body>

</html>