<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-SGPNVK9S2D"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-SGPNVK9S2D');
	</script>
	<!-- Meta tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Web and Mobile Operations team, E-Cell, IITM" />
	<meta name="description" content="E-Summit 2021 IITM" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<link rel="icon" href="/images/logos/favicon.png" sizes="16x16" />
	<title>E-summit | Entrepreneurship Cell | IIT Madras</title>

	<!-- Stylesheets & Fonts -->
	<link href="/css/homepage.css" rel="stylesheet" type="text/css" />
	<link href="/css/custom.css" rel="stylesheet" type="text/css" />
	<link href="/css/plugins.css" rel="stylesheet" type="text/css" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/css/fonts.css" rel="stylesheet" type="text/css" />

</head>

<body style="background-color: #181818; line-height: 1.8em !important;">

	<div class="body-inner" data-icon="11">
		<header id="header" data-fullwidth="true" class="header dark">
			<div class="header-inner">
				<div class="container">
					<!--Logo-->
					<div id="logo">
						<a href="/">
							<img class="logo-fixed" src="/images/logos/esummit_clean.png" alt="E-Summit Logo">
						</a>
					</div>
					<!--End: Logo-->
					<!--Navigation Resposnive Trigger-->
					<div id="mainMenu-trigger">
						<a class="lines-button x"><span class="lines"></span></a>
					</div>
					<!--end: Navigation Resposnive Trigger-->
					<!--Navigation-->
					<div id="mainMenu">
						<div class="col-md-6 container">
							<nav>
								<ul>
									<li><a href="/" class="scroll-to">HOME</a></li>
									<li><a href="#footer" class="scroll-to">CONTACT</a></li>
									<li><a href="/sponsors" class="scroll-to">SPONSORS</a></li>
									<li class="dropdown">
										<a href="#">
											Conclaves
										</a>
										<ul class="dropdown-menu">
											<li class="dropdown-submenu">
												<a href="#innovators-conclave">Innovator's Conclave</a>
												<ul class="dropdown-menu">
													<li><a href="/event/bootcamp">BootCamp</a></li>
													<li><a href="/event/unconference">Unconference</a></li>
													<li><a href="/event/product-construct">Product Construct</a></li>
												</ul>
											</li>
											<li class="dropdown-submenu"><a href="#youth-conclave">Youth Conclave</a>
												<ul class="dropdown-menu">
													<li><a href="/event/markathon">Markathon</a></li>
													<li><a href="/event/elympics">Elympics</a></li>
													<li><a href="/event/e-awards">E-Awards</a></li>
													<li><a href="/event/boardroom">Boardroom</a></li>
													<li><a href="/event/stocks-are-high">Stocks are high</a></li>
													<li><a href="/event/business-simulation-game">Business Simulation
															Game</a></li>
													<li><a href="/event/e-awards">E-Awards</a></li>
												</ul>
											</li>
											<li class="dropdown-submenu"><a href="#startup-conclave">Startup
													Conclave</a>
												<ul class="dropdown-menu">
													<li><a href="/event/elevate">Elevate</a></li>
													<li><a href="/event/startup-showcase">Startup Showcase</a></li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<!--end: Navigation-->
				</div>
			</div>
		</header>
		<section class="fullscreen m-t-0 p-t-0 dark lead">

			<div class="container">
				<div class="heading-text text-light">
					<h1>
						E-Summit '21
					</h1>
					<h2>
						PRIVACY STATEMENT
					</h2>
				</div>

				<div class="line"></div>


				<h2 class="section-heading">
					SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?
				</h2>




				When you purchase something from our store, as part of the buying and selling process, we collect the
				personal information you give us such as your name, address and email address.
				<br>

				When you browse our store, we also automatically receive your computer’s internet protocol (IP) address
				in order to provide us with information that helps us learn about your browser and operating system.

				<br>
				With your permission, we may send you emails about our store, new
				products and other updates.




				<h2 class="section-heading">
					SECTION 2 - CONSENT
				</h2>




				How do you get my consent?


				When you provide us with personal information to complete a transaction, verify your credit card, place
				an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it
				and using it for that specific reason only.


				If we ask for your personal information for a secondary reason, like marketing, we will either ask you
				directly for your expressed consent, or provide you with an opportunity to say no.




				How do I withdraw my consent?


				If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the
				continued collection, use or disclosure of your information, at anytime, by contacting us at
				<strong>sr_ecell@smail.iitm.ac.in</strong>



				<h2 class="section-heading">
					SECTION 3 - DISCLOSURE
				</h2>




				We may disclose your personal information if we are required by law to do so or if you violate our Terms
				of Service.




				<h2 class="section-heading">
					SECTION 4 - PAYMENT
				</h2>


				We use Razorpay for processing payments. We/Razorpay do not store your card data on their servers. The
				data is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS) when processing
				payment. Your purchase transaction data is only used as long as is necessary to complete your purchase
				transaction. After that is complete, your purchase transaction information is not saved.


				Our payment gateway adheres to the standards set by PCI-DSS as managed by the PCI Security Standards
				Council, which is a joint effort of brands like Visa, MasterCard, American Express and Discover.


				PCI-DSS requirements help ensure the secure handling of credit card information by our store and its
				service providers.


				For more insight, you may also want to read terms and conditions of razorpay on https://razorpay.com




				<h2 class="section-heading">
					SECTION 5 - THIRD-PARTY SERVICES
				</h2>




				In general, the third-party providers used by us will only collect, use and disclose your information to
				the extent necessary to allow them to perform the services they provide to us.


				However, certain third-party service providers, such as payment gateways and other payment transaction
				processors, have their own privacy policies in respect to the information we are required to provide to
				them for your purchase-related transactions.


				For these providers, we recommend that you read their privacy policies so you can understand the manner
				in which your personal information will be handled by these providers.


				In particular, remember that certain providers may be located in or have facilities that are located a
				different jurisdiction than either you or us. So if you elect to proceed with a transaction that
				involves the services of a third-party service provider, then your information may become subject to the
				laws of the jurisdiction(s) in which that service provider or its facilities are located.


				Once you leave our store’s website or are redirected to a third-party website or application, you are no
				longer governed by this Privacy Policy or our website’s Terms of Service.


				Links


				When you click on links on our store, they may direct you away from our site. We are not responsible for
				the privacy practices of other sites and encourage you to read their privacy statements.


				<h2 class="section-heading">
					SECTION 6 - SECURITY
				</h2>




				To protect your personal information, we take reasonable precautions and follow industry best practices
				to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.



				<h2 class="section-heading">
					SECTION 7 - COOKIES
				</h2>


				We use cookies to maintain session of your user. It is not used to personally identify you on other
				websites.




				<h2 class="section-heading">
					SECTION 8 - AGE OF CONSENT
				</h2>




				By using this site, you represent that you are at least the age of majority in your state or province of
				residence, or that you are the age of majority in your state or province of residence and you have given
				us your consent to allow any of your minor dependents to use this site.




				<h2 class="section-heading">
					SECTION 9 - CHANGES TO THIS PRIVACY POLICY
				</h2>




				We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes
				and clarifications will take effect immediately upon their posting on the website. If we make material
				changes to this policy, we will notify you here that it has been updated, so that you are aware of what
				information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.


				If our store is acquired or merged with another company, your information may be transferred to the new
				owners so that we may continue to sell products to you.

				<br>
				<br>
				<br>


				Entrepreneurship Cell,
				<br>
				Indian Institute of Technology, Madras



			</div>

			<div class="shape-divider" data-style="2" data-color="#F8F9FA"></div>

		</section>


		<footer id="footer">
			<div class="footer-content p-b-20">
				<div class="container">
					<div class="row align-items-center justify-content-center">
						<div class="col-12 col-lg-3 col-md-6"
							style="text-align: center; width: 100%; padding-bottom: 20px">
							<a href="#"><img src="/images/logos/e-cell_logo.png" alt="logo" style="width: 200px" /></a>
						</div>
						<div class="footer-m-fix col-12 col-md-6 col-lg-3 text-center">
							<!-- Footer widget area 1 -->
							<h4>Contact us</h4>
							<div class="widget m-b-0 m-l-0">
								<ul class="list" style="font-size: 1.4rem; word-wrap: none">
									<li>
										+91 9871341963
										<i class="fa fa-phone" style="
													-webkit-transform: scaleX(-1);
													transform: scaleX(-1);
												"></i>
									</li>
									<li>
										<a href="mailto:sr_ecell@smail.iitm.ac.in">
											sr_ecell@smail.iitm.ac.in
											<i class="fa fa-envelope d-lg-none"></i>
										</a>
									</li>
								</ul>
							</div>
							<!-- end: Footer widget area 1 -->
						</div>

						<div class="footer-m-fix col-12 col-md-6 col-lg-3 text-center">
							<!-- Social icons -->
							<h4>We are social</h4>
							<div class="social-icons social-icons-colored social-icons-rounded text-center">
								<ul>
									<li class="social-facebook">
										<a href="https://www.facebook.com/ECELLIITM/">
											<i class="fab fa-facebook-f"></i>
										</a>
									</li>
									<li class="social-instagram">
										<a href="https://www.instagram.com/ecell_iitm/?hl=en">
											<i class="fab fa-instagram"></i>
										</a>
									</li>
									<li class="social-linkedin">
										<a href="https://www.linkedin.com/company/e-cell-iitm/?originalSubdomain=in">
											<i class="fab fa-linkedin"></i>
										</a>
									</li>
									<li class="social-youtube">
										<a href="https://www.youtube.com/channel/UCtPazFT8VSfAeREcgag4zMw">
											<i class="fab fa-youtube"></i>
										</a>
									</li>
									<li class="social-twitter">
										<a href="https://twitter.com/ecelliitm">
											<i class="fab fa-twitter"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="space d-block d-md-none"></div>
			</div>

			<div class="copyright-content p-t-20 p-b-20">
				<div class="container">
					<div class="row h5">
						<div class="col-lg-6">
							<div class="xs-text-center">
								&copy;Developed by
								<strong>Web Operations | E-Cell | IIT Madras.</strong>
								<br />
								All Rights Reserved.
							</div>
						</div>
						<div class="space d-block d-md-none"></div>
						<div class="space d-block d-md-none"></div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<a id="scrollTop"> <i class="fa fa-angle-up"></i><i class="fa fa-angle-double-up"></i> </a>


	<!-- jQuery is needed by POLO so we load it from CDN instead of serving it on our own -->
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
		integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

	<script src="/js/plugins.js"></script>
	<script src="/js/functions.js"></script>
</body>

</html>